@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}


<!----- เรื่องเด่นประเด็นร้อน ----->
 <div class="container overflow-h ">
     <div class="row margin-top-20">
         <div class="col-md-9 shadow-wrapper">
             <div class="headline"><h2><span class="glyphicon glyphicon-globe"></span> เรื่องเด่นประเด็นร้อน</h2></div>
             <div class="row margin-bottom-20">
                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/a.jpg" alt="">
                             </div>
                             <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="portfolio_single_item.html">พรบ.ความเท่าเทียมระหว่างเพศ</a></h3>
                             <p>พม. เดินหน้าเผยแพร่ พรบ.ความเท่าเทียมระหว่างเพศ พ.ศ. 2558 </p>
                         </div>
                     </div>
                 </div>

                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/b.jpg" alt="">
                             </div>
                             <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="#">วันครอบครัว 2559</a></h3>
                             <p>ในเช้าวันนี้ (๘ เม.ย. ๕๙) เวลา ๐๙.๔๕  น. ที่ห้องแกรนด์ไดมอนด์บอลรูม</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/c.jpg" alt="">
                             </div>
                             <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="#">การจัดงานวันแห่งครอบครัว</a></h3>
                             <p>ในเช้าวันนี้ (๘ เม.ย. ๕๙) เวลา ๐๙.๔๕</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnails thumbnail-style thumbnail-kenburn">
                         <div class="thumbnail-img">
                             <div class="overflow-hidden">
                                 <img class="img-responsive" src="assets/img/main/d.jpg" alt="">
                             </div>
                             <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                         </div>
                         <div class="caption">
                             <h3><a class="hover-effect" href="#">การจัดงานวันแห่งครอบครัว</a></h3>
                             <p>ในเช้าวันนี้ (๘ เม.ย. ๕๙) เวลา ๐๙.๔๕  น.</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Popular Topics -->
         <div class="col-md-3 col-sm-12">
             <div class="headline"><h2><span class="glyphicon glyphicon-volume-up"></span> ประกาศ</h2></div>
             <div class="row main-check">
                 <div class="col-xs-12 md-margin-bottom-20">
                     <!--- limit 12 --->
                     <ul class="list-unstyled check-style">
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางงานพิมพ์รายงาน</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางงานจ้างจัดงานรณรงค์</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศผู้ชนะงานจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางงานจ้างทำวีดิทัศน์เพื่อ</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศผู้ชนะงานจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศรายชื่อผู้ผ่านการ</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางการผลิตสื่อสิ่งพิมพ์</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศรายชื่อผู้ไม่มีผล</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศสอบราคาและเอกสาร</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ราคากลางสอบราคาจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศผู้ชนะงานจัดซื้อหมึก</a></li>
                         <li><i class="fa fa-angle-right color-green"></i> <a href="#">ประกาศรายชื่อผู้ผ่านการประ</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>  
</div>


<!-- clip video -->
<div class="container margin-bottom-20">
    <div class="row margin-bottom-20  margin-top-20">
        <div class="col-md-12 col-lg-12">
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tap1" data-toggle="tab"><span aria-hidden="true" class="icon-screen-desktop"></span> คลิปวิดีโอ</a></li>
                    <li><a href="#tap2" data-toggle="tab"><span aria-hidden="true" class="icon-compass"></span> มีอะไรใหม่</a></li>
                    <li><a href="#tap3" data-toggle="tab"><span aria-hidden="true" class="icon-notebook"></span> หนังสือน่าอ่าน</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tap1">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/avata-youtube.jpg" width="100%" title="" alt="">
                            </div>
                            <div class="col-md-8">
                                <h4>นายเลิศปัญญา บูรณบัณฑิต อธิบดีกรมกิจการสตรีและสถาบันครอบครัว</h4>
                                <p>
                                    มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่
                                    มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่
                                    มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่
                                    มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่
                                    มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่
                                </p>
                                <p class="text-right">
                                    <a href="@Url.Content("~/Media/media")" alt=""><span class="glyphicon glyphicon-share-alt"></span> คลิปวิดีโอทั้งหมด</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tap2">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="assets/img/avata-youtube.jpg" width="100%" title="" alt="">
                            </div>
                            <div class="col-md-8">
                                <h4>มีอะไรใหม่</h4>
                                <p>
                                    <i class="fa fa-angle-right color-green"></i> 
                                        <a href="javascript:void(0)">
                                        ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวภาคเหนือ จ.ลำปาง “เดินรณรงค์เผยแพร่พระราชบัญญัติความเท่าเทียมระหว่างเพศ พ.ศ.2558”
                                        </a><br>
                                    <i class="fa fa-angle-right color-green"></i> 
                                        <a href="javascript:void(0)">
                                        ครอบครัวไทยนิยมใช้ความรุนแรง-เด็กเลือกประชดพ่อแม่
                                        </a><br>
                                    <i class="fa fa-angle-right color-green"></i> 
                                        <a href="javascript:void(0)">
                                        ราคากลางงานจ้างพิมพ์หนังสือ เรื่อง
                                        </a><br>
                                    <i class="fa fa-angle-right color-green"></i> 
                                        <a href="javascript:void(0)">
                                        ราคากลางจ้างที่ปรึกษาดำเนินการสำรวจเจตคติของประชาชนด้านความเสมอภาคระหว่างเพศ ในวงเงิน 2,000,000 บาท
                                        </a><br>
                                    <i class="fa fa-angle-right color-green"></i> 
                                        <a href="javascript:void(0)">
                                        พระราชบัญญัติความเท่าเทียมระหว่างเพศ พ.ศ. ๒๕๕๘
                                        </a><br>
                                    <i class="fa fa-angle-right color-green"></i> 
                                        <a href="javascript:void(0)">
                                        ระเบียบกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ ว่าด้วยหลักเกณฑ์และวิธีการทำบันทึกข้อตกลงเบื้องต้นก่อนการยอมความ ถอนคำร้องทุกข์ในชั้นสอบสวน (ฉบับที่ ๒) พ.ศ. ๒๕๕๕
                                        </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="tap3">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <img src="~/assets/img/book/book1.png" width="100%" title="" alt="">
                                <a href="Javascript:void(0)" alt="">วารสารสตรีและครอบครัว ปีที่ 12 ฉบับที่ 2 </a>
                            </div>
                            <div class="col-md-2 text-center">
                                <img src="~/assets/img/book/book2.jpg" width="100%" title="" alt="">
                                <a href="Javascript:void(0)" alt="">วารสารสตรีและครอบครัว ปีที่ 12 ฉบับที่ 1</a>
                            </div>
                            <div class="col-md-2 text-center">
                                <img src="~/assets/img/book/book3.jpg" width="100%" title="" alt="">
                               <a href="Javascript:void(0)" alt="">วารสารสตรีและครอบครัว ปีที่ 11 ฉบับที่ 2</a>
                            </div>
                            <div class="col-md-2 text-center">
                                <img src="~/assets/img/book/book1.png" width="100%" title="" alt="">
                               <a href="Javascript:void(0)" alt="">วารสารสตรีและครอบครัว ปีที่ 12 ฉบับที่ 2</a>
                            </div>
                            <div class="col-md-2 text-center">
                                <img src="~/assets/img/book/book2.jpg" width="100%" title="" alt="">
                                <a href="Javascript:void(0)" alt="">วารสารสตรีและครอบครัว ปีที่ 12 ฉบับที่ 1</a>
                            </div> 
                            <div class="col-md-2 text-center">
                                <img src="~/assets/img/book/book3.jpg" width="100%" title="" alt="">
                                <a href="Javascript:void(0)" alt="">วารสารสตรีและครอบครัว ปีที่ 11 ฉบับที่ 2</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end  clip video  -->



<!----- ข่าวประชาสัมพันธ์ ----->
<div class="container">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <div class="headline"><h2><span aria-hidden="true" class="icon-volume-2"></span> ข่าวประชาสัมพันธ์</h2></div>
                <div class="row margin-bottom-20">
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/a.jpg" alt="">
                                </div>
                                <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">พรบ.ความเท่าเทียมระหว่างเพศ</a></h3>
                                <p>หลักเกณฑ์ อัตราค่าใช้จ่าย และแนวทาง การพิจารณางบประมาณรายจ่ายประจำปี</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/b.jpg" alt="">
                                </div>
                                <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">ประกาศกรมกิจการสตรีและสถาบันครอบครัว</a></h3>
                                <p>เรื่อง รายชื่อผู้ผ่านการเลือกสรรเพื่อจัดจ้างเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค) </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/c.jpg" alt="">
                                </div>
                                <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">ศูนย์ลำปางลงพื้นที่โครงการ </a></h3>
                                <p>"เติมใจสู้ภัยแล้ง ห่างไกลภัยค้ามนุษย์ ประจำปี 2559"</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="assets/img/main/d.jpg" alt="">
                                </div>
                                <a class="btn-more hover-effect" href="#">อ่านต่อ +</a>
                            </div>
                            <div class="caption">
                                <h3><a class="hover-effect" href="#">สค. ขยายเวลาการเปิดรับสมัคร</a></h3>
                                <p>สค. ขยายเวลาการเปิดรับสมัครผลงานเข้าประกวดผลงานวิจัยและวิทยานิพนธ์ดีเด่นด้านครอบครัว ประจำปี 2559</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!----- ประกาศ ----->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>พื้นที่เข้าร่วมโครงการตำบลเข้มแข็ง</h4>
                    <p>
                        ที่มา :
                        <a href="http://www.owf.go.th/tumbon/report.htm" title="เข้าร่วมโครงการตำบลเข้มแข็ง" target="_blank">
                            http://www.owf.go.th/tumbon/report.htm
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>การพัฒนามนุษย์ด้านความเสมอภาคหญิงชายในระดับสากล</h4>
                    <p>
                        ที่มา :
                        <a href="http://www.gender.go.th/indicator/HdiGii/mainhdi.html" title="การพัฒนามนุษย์ด้านความเสมอภาคหญิงชายในระดับสากล" target="_blank">
                            http://www.gender.go.th/indicator/HdiGii/mainhdi.html
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>สถานการณ์หญิงชายของประเทศไทย</h4>
                    <p>
                        ที่มา :
                        <a href="http://www.gender.go.th/template.php?vname=report/mainreport.html" title="สถานการณ์หญิงชายของประเทศไทย" target="_blank">
                            http://www.gender.go.th/template.php?vname=report/mainreport.html
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
        
@section scripts {
<script>
          (function() {
            var cx = '010607368559754793872:hhlrg2fxh4q';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
</script>    
}


