<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ค่านิยมองค์กร</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">หน้าแรก</a></li>
            <li><a href="">เกี่ยวกับ สค.</a></li>
            <li class="active">ค่านิยมองค์กร</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row-fluid privacy">
        <h3 align="center"><b>"มืออาชีพ จริยธรรม ภาวะผู้นำ ทำงานเป็นทีม"</b></h3>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
