@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
                <div class="heading heading-v6">
                    <h2>ค่านิยมองค์กร</h2>
                    <p>"มืออาชีพ จริยธรรม ภาวะผู้นำ ทำงานเป็นทีม"</p>
                </div>
            </div>
        </div>
    </div>
</div>
