<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
                <div class="heading heading-v5">
                    <h2>คำรับรองการปฏิบัติราชการ</h2>
                </div>
                @{
                    for (int count = 1; count <= 5; count++)
                    {
                        <li><i class="fa fa-angle-right color-green"></i> <a href="#">คำรับรองการปฎิบัติราชการปี 2559</a></li>
                    }
                }
                @{
                    for (int count = 1; count <= 5; count++)
                    {
                        <li><i class="fa fa-angle-right color-green"></i> <a href="#">คะแนนการประเมินผลการปฎิบัติราชการประจำปีงบประมาณ พ.ศ.2548</a></li>
                    }
                }
            </div>
        </div>
    </div>
</div>
