<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">คำรับรองการปฏิบัติราชการ</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">หน้าแรก</a></li>
            <li><a href="">เกี่ยวกับ สค.</a></li>
            <li class="active">คำรับรองการปฏิบัติราชการ</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row-fluid privacy">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คะแนนการประเมินผลการปฎิบัติราชการประจำปีงบประมาณ พ.ศ.2548</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2547</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2548</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2549</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2550</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2551</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2552</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2553</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2554</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);">คำรับรองการปฎิบัติราชการปี 2555</a></p>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->