@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="heading heading-v6">
            <h2>ประวัติความเป็นมา</h2>
        </div>
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตามที่รัฐบาลมีนโยบายปฏิรูประบบราชการ โดยยุบหน่วยงานที่กระจายอยู่ในหลายกระทรวง มาจัดตั้งกระทรวงและหน่วยงานระดับกรมขึ้นใหม่ เพื่อให้การดำเนินงานของภาครัฐมีประสิทธิภาพยิ่งขึ้นนั้น สำนักงานกิจการสตรีและสถาบันครอบครัว (สค.) ในสังกัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ (พม.) เป็นอีกหนึ่งหน่วยงานที่ได้รับการจัดตั้งขึ้นใหม่ อาศัยอำนาจตาม</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- พระราชบัญญัติระเบียบบริหารราชการแผ่นดิน พ.ศ. 2545 มาตรา 17</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- พระราชกฤษฎีกาโอนกิจการบริหารและอำนาจหน้าที่ของส่วนราชการให้เป็นไปตาม พระราชบัญญัติปรับปรุงกระทรวง ทบวง กรม พ.ศ. 2545 พ.ศ. 2545 มาตรา 35 (1)</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- กฎกระทรวงแบ่งส่วนราชการสำนักงานกิจการสตรีและสถาบันครอบครัว พ.ศ. 2545ในการจัดตั้งสำนักงานนี้ มีการรวมหน่วยงาน 3 หน่วยงานเข้าด้วยกัน คือ</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. <u>สำนักนายกรัฐมนตรี</u> ในส่วนของสำนักงานปลัดสำนักนายกรัฐมนตรี เฉพาะสำนักงาน คณะกรรมการส่งเสริมและประสานงานสตรีแห่งชาติ จำนวน 43 อัตรา</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. <u>กระทรวงมหาดไทย</u> ในส่วนของกรมการพัฒนาชุมชน เฉพาะฝ่ายพัฒนาสตรี ในกองพัฒนาสตรี เด็กและเยาวชน จำนวน 18 อัตรา</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. <u>กระทรวงแรงงานและสวัสดิการสังคม</u> ในส่วนของกรมประชาสงเคราะห์ จำนวน 164 อัตรา เฉพาะบางส่วนของ</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.1  กองความมั่นคงแห่งสังคม</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.2  กองนิคมสร้างตนเอง</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.3  กองบริการชุมชน</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.4  กองสงเคราะห์ชาวเขา</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.5  กองสัมมาอาชีวสงเคราะห์</p>
            </div>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
