@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="container content">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v2 box-shadow shadow-effect-13">
                <div class="heading heading-v2">
                    <h2>สารจากนายกรัฐมนตรี</h2>
                    <div class="row margin-bottom-20">
                        <div class="col-sm-8 sm-margin-bottom-20">
                            <img class="img-responsive" src="~/assets/Modules/About/images/President.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
