<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">สารจากนายกรัฐมนตรี</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">หน้าแรก</a></li>
            <li><a href="">เกี่ยวกับ สค.</a></li>
            <li class="active">สารจากนายกรัฐมนตรี</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== Blog Posts ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <!-- Blog Posts -->
        <div class="news-v3 bg-color-white margin-bottom-60">
            <img class="img-responsive full-width" src="~/assets/Modules/About/images/President.jpg" alt="">
        </div>
        <!-- End Blog Posts -->
    </div>
</div>
<!--=== End Blog Posts ===-->
