@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
                <div class="heading heading-v6">
                    <h2>ภาระกิจหน้าที่</h2>
                </div>
                <p class="lead"><em>ภารกิจหน้าที่ของสำนักงานกิจการสตรีและสถาบันครอบครัว</em></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. พัฒนาและเสนอแนะแนวทางในการส่งเสริมศักยภาพของสตรี ความเสมอภาคของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว เพื่อความมั่นคงในการดำรงชีวิต</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. เสริมสร้างและพัฒนามาตรการ กลไกในการส่งเสริมศักยภาพของสตรี ความเสมอภาคของหญิงและชาย และความเป็นปึกแผ่นของสถาบันครอบครัว</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. ส่งเสริมและสนับสนุนทางวิชาการและทรัพยากรในการดำเนินการของเครือข่าย เพื่อส่งเสริม ศักยภาพ สร้างความเสมอภาคและความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของสถาบันครอบครัว</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. ส่งเสริม สนับสนุน และผลักดันให้มีการดำเนินการตามพันธกรณี ข้อตกลง และความร่วมมือระหว่างประเทศ</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. ส่งเสริมและประสานการดำเนินการเพื่อคุ้มครองและพิทักษ์สิทธิสตรีตามกฎหมาย</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. วิจัย และพัฒนาองค์ความรู้เกี่ยวกับการส่งเสริมศักยภาพ ความเสมอภาคและความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. กำหนดมาตรฐาน กำกับดูแล และติดตามประเมินผลการดำเนินการให้เป็นไปตามนโยบายและมาตรการที่กำหนด</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. ประสานข้อมูลด้านการส่งเสริมศักยภาพ ความเสมอภาค ความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. ปฏิบัติการอื่นใดตามที่กฎหมายกำหนดให้เป็นอำนาจหน้าที่ของสำนักงานกิจการสตรีและสถาบันครอบครัว หรือตามที่รัฐมนตรี หรือคณะรัฐมนตรีมอบหมาย</p>
            </div>
        </div>
    </div>
</div>
