@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ภารกิจหน้าที่ของสำนักงานกิจการสตรีและสถาบันครอบครัว</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">ภาระกิจหน้าที่</li>
        </ul>
    </div>
</div>
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
                <div class="heading heading-v6">
                    <h2>ภาระกิจหน้าที่</h2>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <ul class="list-unstyled lists-v1">
                            <li><i class="fa fa-angle-right color-green"></i> พัฒนาและเสนอแนะแนวทางในการส่งเสริมศักยภาพของสตรี ความเสมอภาคของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว เพื่อความมั่นคงในการดำรงชีวิต</li>
                            <li><i class="fa fa-angle-right color-green"></i> เสริมสร้างและพัฒนามาตรการ กลไกในการส่งเสริมศักยภาพของสตรี ความเสมอภาคของหญิงและชาย และความเป็นปึกแผ่นของสถาบันครอบครัว</li>
                            <li><i class="fa fa-angle-right color-green"></i> ส่งเสริมและสนับสนุนทางวิชาการและทรัพยากรในการดำเนินการของเครือข่าย เพื่อส่งเสริม ศักยภาพ สร้างความเสมอภาคและความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของสถาบันครอบครัว</li>
                            <li><i class="fa fa-angle-right color-green"></i> ส่งเสริม สนับสนุน และผลักดันให้มีการดำเนินการตามพันธกรณี ข้อตกลง และความร่วมมือระหว่างประเทศ</li>
                            <li><i class="fa fa-angle-right color-green"></i> ส่งเสริมและประสานการดำเนินการเพื่อคุ้มครองและพิทักษ์สิทธิสตรีตามกฎหมาย</li>
                            <li><i class="fa fa-angle-right color-green"></i> วิจัย และพัฒนาองค์ความรู้เกี่ยวกับการส่งเสริมศักยภาพ ความเสมอภาคและความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว</li>
                            <li><i class="fa fa-angle-right color-green"></i> กำหนดมาตรฐาน กำกับดูแล และติดตามประเมินผลการดำเนินการให้เป็นไปตามนโยบายและมาตรการที่กำหนด</li>
                            <li><i class="fa fa-angle-right color-green"></i> ประสานข้อมูลด้านการส่งเสริมศักยภาพ ความเสมอภาค ความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว</li>
                            <li><i class="fa fa-angle-right color-green"></i> ปฏิบัติการอื่นใดตามที่กฎหมายกำหนดให้เป็นอำนาจหน้าที่ของสำนักงานกิจการสตรีและสถาบันครอบครัว หรือตามที่รัฐมนตรี หรือคณะรัฐมนตรีมอบหมาย</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
