<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ผู้บริหารฝ่ายข้าราชการประจำ พม.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">หน้าแรก</a></li>
            <li><a href="">เกี่ยวกับ สค.</a></li>
            <li class="active">ผู้บริหารฝ่ายข้าราชการประจำ พม.</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Team v1 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/adul.jpg" alt="">
                </div>
                <h4>นายไมตรี อินทุสุต</h4>
                <p>ปลัดกระทรวง</p>
            </div>
        </li>
    </ul>
</div>
<!--=== End Team v1 ===-->
<!--=== Team v2 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/suwat2.jpg" alt="">
                </div>
                <h4>ว่าที่ ร.ต.ศรัณย์ สมานพันธ์</h4>
                <p>รองปลัดกระทรวง</p>
            </div>
        </li>
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/jirapa2.jpg" alt="">
                </div>
                <h4>นายวิทัศน์ เตชะบุญ</h4>
                <p>รองปลัดกระทรวง</p>
            </div>
        </li>
    </ul>
</div>
<!--=== End Team v2 ===-->
<!--=== Team v3 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/peera2.jpg" alt="">
                </div>
                <h4>นางเสาวนีย์ โขมพัตร</h4>
                <p>หัวหน้าผู้ตรวจราชการกระทรวงและโฆษกกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
            </div>
        </li>
    </ul>
</div>
<!--=== End Team v3 ===-->
<!--=== Team v4 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/suwat2.jpg" alt="">
                </div>
                <h4>ว่าที่ ร.ต.ศรัณย์ สมานพันธ์</h4>
                <p>รองปลัดกระทรวง</p>
            </div>
        </li>
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/jirapa2.jpg" alt="">
                </div>
                <h4>นายวิทัศน์ เตชะบุญ</h4>
                <p>รองปลัดกระทรวง</p>
            </div>
        </li>
    </ul>
</div>
<!--=== End Team v4 ===-->

