<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ผู้บริหารฝ่ายการเมือง พม.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">หน้าแรก</a></li>
            <li><a href="">เกี่ยวกับ สค.</a></li>
            <li class="active">ผู้บริหารฝ่ายการเมือง พม.</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Team v1 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/adul.jpg" alt="">
                </div>
                <h4>พลตำรวจเอก อดุลย์ แสงสิงแก้ว</h4>
                <p>รัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
            </div>
        </li>
    </ul>
</div>
<!--=== End Team v1 ===-->
<!--=== Team v2 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/suwat2.jpg" alt="">
                </div>
                <h4>พลตำรวจเอก สุวัฒน์ จันทร์อิทธิกุล</h4>
                <p>ผู้ช่วยรัฐมนตรีประจำกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
            </div>
        </li>
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/jirapa2.jpg" alt="">
                </div>
                <h4>ผศ.จิราภา งามลักษณ์</h4>
                <p>ที่ปรึกษารัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
            </div>
        </li>
    </ul>
</div>
<!--=== End Team v2 ===-->
<!--=== Team v3 ===-->
<div class="container content-md team-v1">
    <ul class="list-unstyled row">
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/peera2.jpg" alt="">
                </div>
                <h4>พลตำรวจเอก พีระ พุ่มพิเชฏฐ์</h4>
                <p>เลขานุการรัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
            </div>
        </li>
        <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
            <div align="center">
                <div class="team-img">
                    <img class="img-responsive" src="~/assets/Modules/About/images/jirapa2.jpg" alt="">
                </div>
                <h4>นางสาวอนุสรี ทับสุวรรณ</h4>
                <p>ประจำสำนักเลขาธิการนายกรัฐมนตรี</p>
            </div>
        </li>
    </ul>
</div>
<!--=== End Team v3 ===-->
