@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== Content Part ===-->
<div class="container content>
    <div class="row">
        <div class="shadow-wrapper">
            <div class="shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <!--=== Team v1 ===-->
                    <div class="container content-md team-v1">
                        <ul class="list-unstyled row">
                            <li class="col-sm-3 col-xs-6">
                                <div align="center">
                                    <div class="team-img">
                                        <img class="img-responsive" src="~/assets/Modules/About/images/adul.jpg" alt="">
                                    </div>
                                    <div class="heading heading-v6">
                                        <h4>พลตำรวจเอก อดุลย์ แสงสิงแก้ว</h4>
                                    </div>

                                    <p>รัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--=== End Team v1 ===-->
                    <!--=== Team v2 ===-->
                    <div class="container content-md team-v1">
                        <ul class="list-unstyled row">
                            <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                                <div align="center">
                                    <div class="team-img">
                                        <img class="img-responsive" src="~/assets/Modules/About/images/suwat2.jpg" alt="">
                                    </div>
                                    <h4>พลตำรวจเอก สุวัฒน์ จันทร์อิทธิกุล</h4>
                                    <p>ผู้ช่วยรัฐมนตรีประจำกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
                                </div>
                            </li>
                            <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                                <div align="center">
                                    <div class="team-img">
                                        <img class="img-responsive" src="~/assets/Modules/About/images/jirapa2.jpg" alt="">
                                    </div>
                                    <h4>ผศ.จิราภา งามลักษณ์</h4>
                                    <p>ที่ปรึกษารัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--=== End Team v2 ===-->
                    <!--=== Team v3 ===-->
                    <div class="container content-md team-v1">
                        <ul class="list-unstyled row">
                            <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                                <div align="center">
                                    <div class="team-img">
                                        <img class="img-responsive" src="~/assets/Modules/About/images/peera2.jpg" alt="">
                                    </div>
                                    <h4>พลตำรวจเอก พีระ พุ่มพิเชฏฐ์</h4>
                                    <p>เลขานุการรัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</p>
                                </div>
                            </li>
                            <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                                <div align="center">
                                    <div class="team-img">
                                        <img class="img-responsive" src="~/assets/Modules/About/images/anusaree.jpg" alt="">
                                    </div>
                                    <h4>นางสาวอนุสรี ทับสุวรรณ</h4>
                                    <p>ประจำสำนักเลขาธิการนายกรัฐมนตรี</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--=== End Team v3 ===-->
                </div>
            </div>
        </div>
    </div>
</div>
