@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== Blog Posts ===-->
<div class="container content">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <div class="heading heading-v1">
                    <h2>พระบรมราโชวาท</h2>
                    <div class="row margin-bottom-20">
                        <div class="col-sm-8 sm-margin-bottom-20">
                            <img class="img-responsive" src="~/assets/Modules/About/images/king_sp_250357.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
