<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">โครงสร้าง และ อัตรากำลัง</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">หน้าแรก</a></li>
            <li><a href="">เกี่ยวกับ สค.</a></li>
            <li class="active">โครงสร้าง และ อัตรากำลัง</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row-fluid privacy">
        <ul>
            <li>Ut adipiscing elit magna sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet. Et harum quidem rerum facilis fusce condimentum eleifend enim a feugiat.</li>
            <li>Lusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</li>
            <li>Praesentium voluptatum deleniti atque corrupti quos</li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</li>
            <li>Mentum eleifend enim a feugiat distinctio lor</li>
        </ul>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
