@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">วิสัยทัศน์ พันธกิจหลัก</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">วิสัยทัศน์ พันธกิจหลัก</li>
        </ul>
    </div>
</div>
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="shadow-wrapper">
            <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
                <div class="heading heading-v6">
                    <h2>วิสัยทัศน์</h2>
                    <p>"เป็นหน่วยงานหลักระดับชาติในการเสริมสร้างความเสมอภาคหญิงชาย และความเข้มแข็งของสถาบันครอบครัว"</p>
                </div>
                <hr />
                <div class="heading heading-v5">
                    <h2>พันธกิจหลัก</h2>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <ul class="list-unstyled lists-v1">
                            <li><i class="fa fa-angle-right"></i>กำหนด และพัฒนานโยบาย มาตรการ กลไก และกฎหมายด้านการส่งเสริมความเสมอภาคหญิงชาย และความเข้มแข็งของสถาบันครอบครัว</li>
                            <li><i class="fa fa-angle-right"></i>ส่งเสริมการมีส่วนร่วมและประสานความร่วมมือของภาคีเครือข่าย</li>
                            <li><i class="fa fa-angle-right"></i>ส่งเสริม สนับสนุน และประสานการป้องกันและแก้ไขปัญหาความรุนแรงต่อสตรี และความรุนแรงในครอบครัว</li>
                            <li><i class="fa fa-angle-right"></i>พัฒนาระบบบริหารจัดการที่ดี</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="heading heading-v1">
                    <h2>ภารกิจหลัก</h2>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ตามกฏกระทรวง</b> แบ่งส่วนราชการสำนักงานกิจการสตรีและสถาบันครอบครัว</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ พ.ศ. 2545</p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กฏกระทรวงฯ ได้กำหนดให้หน่วยงานมีภารกิจใน
                            <b>การพัฒนาศักยภาพสตรี การส่งเสริมความเสมอภาคของหญิงและชาย และการสร้างความเข้มแข็งของครอบครัว</b>
                            โดยการกำหนดนโยบาย มาตรการ กลไกการส่งเสริมสนับสนุนภาครัฐและเอกชนในการดำเนินการตามนโยบายที่กำหนด
                            เพื่อให้สตรีได้รับการพัฒนาศักยภาพ การคุ้มครองพิทักษ์สิทธิ มีความเสมอภาคและเป็นธรรมทางสังคม และมุ่งสร้างสถาบันครอบครัวให้มีความมั่นคงเป็นปึกแผ่น เพื่อเป็นกลไกในการส่งเสริมศักยภาพของหญิงและชายให้เป็นกำลังสำคัญในการพัฒนาชุมชนและสังคม
                        </p>
                    </div>
                </div>
                <hr />
                <div class="heading heading-v2">
                    <h2>ยุทธศาสตร์</h2>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>1. การเสริมสร้างความเสมอภาคหญิงชาย</b></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพื่อส่งเสริมและสนับสนุนให้หน่วยงานภาครัฐ สถาบันการศึกษา สื่อ และชุมชน ร่วมกันสร้างความเสมอภาคระหว่างหญิงชาย ขจัดการเลือกปฏิบัติต่อสตรีตามกรอบรัฐธรรมนูญแห่งราชอาณาจักรไทย และพันธกรณีระหว่างประเทศ รวมทั้ง พัฒนาศักยภาพของสตรีทั้งทางด้านร่างกายจิตใจ สติปัญญาและความถนัดที่มุ่งไปสู่ลักษณะสตรีที่พึงประสงค์</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>2. การเสริมสร้างความเข้มแข็งของสถาบันครอบครัว</b></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพื่อให้ครอบครัวสามารถพึ่งพาตนเองได้ มีหลักประกันคุ้มครอง และส่งเสริมปัจจัยที่เกื้อหนุนความเข้มแข็งของครอบครัว ตลอดจนทั้งหญิงและชายมีหน้าที่ร่วมกันสร้างครอบครัวที่มีความอบอุ่น และมีการใช้เวลาร่วมกันอบรมเลี้ยงดูสมาชิกในครอบครัว โดยเฉพาะเด็กและเยาวชนให้เป็นคนดีทำประโยชน์เพื่อสังคมส่วนรวม</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>3. การพัฒนากลไกการทำงานด้านสตรีและครอบครัว</b></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพื่อส่งเสริมและสนับสนุนให้เครือข่ายสตรีและครอบครัวได้รับการพัฒนาศักยภาพและมีส่วนร่วมในการดำเนินงาน โดยเฉพาะแผนงานและโครงการด้านสตรีและครอบครัวในระดับพื้นที่ให้มากขึ้น</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>4. การเสริมสร้างประสิทธิภาพการบริหารจัดการองค์กร</b></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เพื่อส่งเสริมและสนับสนุนให้หน่วยงานมีการบริหารจัดการองค์กรที่ดี มีประสิทธิภาพในการบริหารราชการแผ่นดิน บุคลากรได้รับการพัฒนาสมรรถนะอย่างต่อเนื่อง โดยเน้นการพัฒนาในตำแหน่งที่มีความสำคัญต่อยุทธศาสตร์การพัฒนาประเทศและสร้างผู้นำการเปลี่ยนแปลงในระบบราชการ มีการวางมาตรการสร้างขวัญและกำลังใจ ตลอดจน ส่งเสริมให้ประชาชนได้รับรู้ข้อมูลข่าวสารที่ถูกต้อง เป็นธรรม และรวดเร็ว</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

