@{
    Layout = "~/Views/Shared/Single.cshtml";

    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ข่าวประชาสัมพันธ์</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">ข่าวประชาสัมพันธ์</li>
        </ul>
    </div>
</div>
<div class="container content">
			<div class="row">
				<div class="col-md-12">
					<ul class="timeline-v1">
						<li>
							<div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<img class="img-responsive" src="assets/img/main/a.jpg" alt=""/>
								</div>
								<div class="timeline-body text-justify">
									<h2><a href="#">พรบ.ความเท่าเทียมระหว่างเพศ</a></h2>
									<p>หลักเกณฑ์ อัตราค่าใช้จ่าย และแนวทาง การพิจารณางบประมาณรายจ่ายประจำปี...</p>
									<a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
								</div>
								<div class="timeline-footer">
									<ul class="list-unstyled list-inline blog-info">
										<li><i class="fa fa-clock-o"></i> March 28, 2014</li>
										<li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
									</ul>
									<a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<img class="img-responsive" src="assets/img/main/b.jpg" alt=""/>
								</div>
								<div class="timeline-body text-justify">
									<h2><a href="#">ประกาศ สค.</a></h2>
									<p>เรื่อง รายชื่อผู้ผ่านการเลือกสรรเพื่อจัดจ้างเป็นพนักงานราชการทั่วไป (ส่วนภูมิภาค)...</p>
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
								</div>
								<div class="timeline-footer">
									<ul class="list-unstyled list-inline blog-info">
										<li><i class="fa fa-clock-o"></i> March 16, 2014</li>
										<li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
									</ul>
									<a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
								</div>
							</div>
						</li>
                        <li>
                            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <img class="img-responsive" src="assets/img/main/c.jpg" alt="" />
                                </div>
                                <div class="timeline-body text-justify">
                                    <h2><a href="#">ศูนย์ลำปางลงพื้นที่โครงการ</a></h2>
                                    <p>"เติมใจสู้ภัยแล้ง ห่างไกลภัยค้ามนุษย์ ประจำปี 2559" ...</p>
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                </div>
                                <div class="timeline-footer">
                                    <ul class="list-unstyled list-inline blog-info">
                                        <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                                        <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                                    </ul>
                                    <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <img class="img-responsive" src="assets/img/main/d.jpg" alt="" />
                                </div>
                                <div class="timeline-body text-justify">
                                    <h2><a href="#">สค. ขยายเวลาการเปิดรับสมัคร</a></h2>
                                    <p>สค. ขยายเวลาการเปิดรับสมัครผลงานเข้าประกวดผลงานวิจัยและวิทยานิพนธ์ดีเด่นด้านครอบครัว ประจำปี 2559...</p>
                                    <a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a>
                                </div>
                                <div class="timeline-footer">
                                    <ul class="list-unstyled list-inline blog-info">
                                        <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                                        <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                                    </ul>
                                    <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                                </div>
                            </div>
                        </li>
							<li class="clearfix" style="float: none;"></li>
						</ul>
					</div>
					<!-- End Content -->
				</div>
			</div>