@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">กรมกิจการสตรีและสถาบันครอบครัว (สค.)</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">หน้าหลัก</a></li>
            <li><a href="">ติดต่อเรา</a></li>
            <li class="active">ส่วนกลาง</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <!-- Default Panel -->
            <div class="panel panel-u">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> ส่วนกลาง บ้านราชวิถี</h3>
                </div>
                <div class="panel-body">
                    <div class="row margin-bottom-60">
                        <div class="col-md-6 col-sm-6">
                            <!-- Google Map -->
                            <div id="map" class="height-450">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.1433150125704!2d100.52614666536694!3d13.769956745858126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x898011f712679070!2z4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4LiB4Li04LiI4LiB4Liy4Lij4Liq4LiV4Lij4Li14LmB4Lil4Liw4Liq4LiW4Liy4Lia4Lix4LiZ4LiE4Lij4Lit4Lia4LiE4Lij4Lix4Lin!5e0!3m2!1sth!2sth!4v1466748896391" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <!-- End Google Map -->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- Get in Touch -->
                            <h3>Get in Touch</h3>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem</p>
                            <hr>
                            <!-- Contacts -->
                            <h3>The Office</h3>
                            <ul class="list-unstyled who">
                                <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                                <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
                            </ul>
                            <hr>
                            <!-- Business Hours -->
                            <h3>Business Hours</h3>
                            <ul class="list-unstyled">
                                <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                                <li><strong>Saturday:</strong> 11am to 3pm</li>
                                <li><strong>Sunday:</strong> Closed</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Default Panel -->
        </div>
    </div>
</div>
