@{
    Layout = "~/Views/Shared/Single.cshtml";

    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ติดต่อ สค.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index">หน้าหลัก</a></li>
            <li class="active">ส่วนกลาง</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <!-- Default Panel -->
            <div class="panel panel-u">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-map-marker"></i> ส่วนกลางบ้านราชวิถี</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <!-- Google Map -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.1433150125704!2d100.52614666536694!3d13.769956745858126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x898011f712679070!2z4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4LiB4Li04LiI4LiB4Liy4Lij4Liq4LiV4Lij4Li14LmB4Lil4Liw4Liq4LiW4Liy4Lia4Lix4LiZ4LiE4Lij4Lit4Lia4LiE4Lij4Lix4Lin!5e0!3m2!1sth!2sth!4v1466751628486" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <!-- End Google Map -->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- Contacts -->
                            <h3>สถานที่ทำงาน</h3>
                            <ul class="list-unstyled who">
                                <li><i class="fa fa-home"></i>เลขที่ 255 บริเวณสถานสงเคราะห์เด็กหญิงบ้านราชวิถี ถ.ราชวิถี แขวงทุ่งพญาไท</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เขตราชเทวี กรุงเทพฯ 10400</li>
                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 2306 8746&nbsp;&nbsp;&nbsp;โทรสาร : 0 2306 8781</li>
                                <li><a href="#"><i class="fa fa-envelope"></i>contact@owf.go.th</a></li>
                                <li><a href="#"><i class="fa fa-globe"></i>http://www.dwf.go.th/</a></li>
                            </ul>
                            <hr>
                            <!-- Business Hours -->
                            <h3>เวลาทำการ</h3>
                            <ul class="list-unstyled">
                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Default Panel -->
            <div class="panel panel-u">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-map-marker"></i> ส่วนกลางอาคารมหานครยิบซั่ม</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <!-- Google Map -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.3016384699267!2d100.54002673122213!3d13.75644169417253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29ec7f1cbb0bd%3A0x931ca0524de045e!2z4Lit4Liy4LiE4Liy4Lij4Lih4Lir4Liy4LiZ4LiE4Lij4Lii4Li04Lia4LiL4Lix4LmI4Lih!5e0!3m2!1sth!2sth!4v1466752963747" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <!-- End Google Map -->
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- Contacts -->
                            <h3>สถานที่ทำงาน</h3>
                            <ul class="list-unstyled who">
                                <li><i class="fa fa-home"></i>เลขที่ 539/2 อาคารมหานครยิบซั่ม ชั้น 23 ถ.ศรีอยุธยา แขวงถนนพญาไท </li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เขตราชเทวี กรุงเทพฯ 10400</li>
                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 2642 7741, 0 2642 7746</li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โทรสาร  : 0 2642 7741, 0 2642 7747</li>
                                <li><a href="#"><i class="fa fa-envelope"></i>contact@owf.go.th</a></li>
                                <li><a href="#"><i class="fa fa-globe"></i>http://www.dwf.go.th/</a></li>
                            </ul>
                            <hr>
                            <!-- Business Hours -->
                            <h3>เวลาทำการ</h3>
                            <ul class="list-unstyled">
                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
