@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ติดต่อ สค.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li><a href="Contact/QA"><i class="fa fa-comments"></i> กระดานถาม-ตอบ</a></li>
            <li class="active">กระดานถาม-ตอบ</li>
        </ul>
    </div>
</div>
<div class="container content-sm">
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="tag-box form-page">
                    <div class="headline"><h2>สร้างกระดานถาม-ตอบ</h2></div>
                    <form action="#" method="post" id="sky-form3" class="sky-form sky-changes-3">
                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">ชื่อ - นามสกุล</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="name" id="name">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">รหัสประจำตัวประชาชน</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-info-circle"></i>
                                        <input type="text" name="num" id="num">
                                        <b class="tooltip tooltip-bottom-right">กรุณาระบุรหัสประชาชน ตัวอย่าง 163990008814 ระบบจะทำการบันทึกไว้ในระบบเพื่อให้เจ้าหน้าที่ตรวจสอบการระบุตัวตนแต่จะไม่แสดงเลขบัตรประชาชนในกระดานถาม-ตอบ</b>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-8">
                                    <label class="label">ชื่อเรื่อง</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-tag"></i>
                                        <input type="text" name="subject" id="subject">
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">รายละเอียด</label>
                                <label class="textarea">
                                    <i class="icon-append fa fa-comment"></i>
                                    <textarea rows="4" name="message" id="message"></textarea>
                                </label>
                            </section>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">กรุณากรอกข้อมูลที่มองเห็น</label>
                                    <label class="input input-captcha">
                                        <img src="~/assets/plugins/sky-forms-pro/skyforms/captcha/captcha_test.png" width="100" height="32" alt="Captcha image" />
                                        <input type="text" maxlength="6" name="captcha" id="captcha">
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn-u"><i class="fa fa-check"></i> สร้างกระดานถาม-ตอบ</button>
                        </footer>
                        <div class="message">
                            <i class="rounded-x fa fa-check"></i>
                            <p>Your message was successfully sent!</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>