@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ติดต่อ สค.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">FAQ</li>
        </ul>
    </div>
</div>
<div class="container content-sm">
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="col-md-12">
                    <!-- General Questions -->
                    <div class="headline"><h2>คำถามที่พบบ่อย <i class="fa fa-question-circle"></i></h2></div>
                    <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        1. หน้าที่ของสำนักงานกิจการสตรีและสถาบันครอบครัวคืออะไร?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>ภารกิจหน้าที่ของสำนักงานกิจการสตรีและสถาบันครอบครัว</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. พัฒนาและเสนอแนะแนวทางในการส่งเสริมศักยภาพของสตรี ความเสมอภาคของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว เพื่อความมั่นคงในการดำรงชีวิต</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. เสริมสร้างและพัฒนามาตรการ กลไกในการส่งเสริมศักยภาพของสตรี ความเสมอภาคของหญิงและชาย และความเป็นปึกแผ่นของสถาบันครอบครัว</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. ส่งเสริมและสนับสนุนทางวิชาการและทรัพยากรในการดำเนินการของเครือข่าย เพื่อส่งเสริม ศักยภาพ สร้างความเสมอภาคและความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของสถาบันครอบครัว</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. ส่งเสริม สนับสนุน และผลักดันให้มีการดำเนินการตามพันธกรณี ข้อตกลง และความร่วมมือระหว่างประเทศ</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. ส่งเสริมและประสานการดำเนินการเพื่อคุ้มครองและพิทักษ์สิทธิสตรีตามกฎหมาย</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. วิจัย และพัฒนาองค์ความรู้เกี่ยวกับการส่งเสริมศักยภาพ ความเสมอภาคและความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. กำหนดมาตรฐาน กำกับดูแล และติดตามประเมินผลการดำเนินการให้เป็นไปตามนโยบายและมาตรการที่กำหนด</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. ประสานข้อมูลด้านการส่งเสริมศักยภาพ ความเสมอภาค ความเป็นธรรมของหญิงและชาย และความเป็นปึกแผ่นของครอบครัว</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. ปฏิบัติการอื่นใดตามที่กฎหมายกำหนดให้เป็นอำนาจหน้าที่ของสำนักงานกิจการสตรีและสถาบันครอบครัว หรือตามที่รัฐมนตรี หรือคณะรัฐมนตรีมอบหมาย</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        2. Oliva pariatur cliche reprehenderit high life accusamus?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        3. Enim eiusmod high life accusamus terry richardson?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                        4. Livil anim keffiyeh helvetica craft beer labore wesde brunch?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Olif moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                        5. Leggings occaecat craft beer farmto tableraw denim?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Keffiyeh anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                        <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                        <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                        6. Keffiyeh anim keffiyeh helvetica craft beer labore wesse?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                        7. Helvetica craft beer labore wes anderson cred nesciu ntlife richardson?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
