@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ติดต่อ สค.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">ถาม-ตอบ</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col col-12">
            <div class="panel panel-u margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-comments"></i> กระดานถาม-ตอบ</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                            <button class="btn-u">ตั้งกระสนทนา</button>
                        <tbody>
                            <tr>
                                <td align="center">1</td>
                                <td><a href="Contact/qa_detail">วันสตรีสากล</a><br /><h6>Topic started 24 มี.ค. 2559 10:32 น. โดย ใจดี ซื่อสัตย์</h6></td>
                                <td align="center">439<br /><h6>ผู้อ่าน</h6></td>
                                <td>โพสต์ล่าสุดโดย Admin<br /><h6>24 มี.ค. 2559 11:00 น.</h6></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
