@{
    Layout = "~/Views/Shared/Single.cshtml";

    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ติดต่อ สค.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li><a href="Contact/QA"><i class="fa fa-comments"></i> กระดานถาม-ตอบ</a></li>
            <li class="active">กระดานถาม-ตอบ</li>
        </ul>
    </div>
</div>
<div class="container content-sm">
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="margin-bottom-40">
                    <div class="col-md-8">
                        <div id="testimonials-6" class="carousel slide testimonials testimonials-v1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>ขอสอบถามเกี่ยวกับ พรบ.ความเท่าเทียม หน่อยค่ะ เราเป็นสาวประเภทสองเราสามารถมีสิทธิ์ในเรื่องของการศึกษา การแต่งตัวชุดนักศึกษาหญิงไปเรียนไหมค่ะ พรบ.ตัวนี้สามารถรองรับได้ไหมค่ะ</p>
                                    <div class="testimonial-info">
                                        <img src="assets/img/testimonials/user.jpg" alt="">
                                        <span class="testimonial-author">
                                            ใจดี ซื่อสัตย์
                                            <em>บุคคลทั่วไป</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="margin-bottom-40">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div id="testimonials-6" class="carousel slide testimonials testimonials-v2">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p>พระราชบัญญัติความเท่าเทียมระหว่างเพศ พ.ศ. 2558 เป็นกฎหมายที่เปิดโอกาสอย่าง เสมอภาค กล่าวคือ หากบุคคลใดเห็นว่าตนถูกเลือกปฏิบัติโดยไม่เป็นธรรมด้วยสาเหตุแห่งเพศ ก็สามารถเข้าสู่กระบวนการตามกฎหมายฉบับนี้ได้อย่างเท่าเทียม โดยไม่ได้จำกัดความคุ้มครองเฉพาะเพศใดเพศหนึ่ง และมีลักษณะเป็นกฎหมายทางเลือก ซึ่งเป็นการให้ใช้สิทธิ หากคิดว่าตนเองไม่เดือดร้อนหรือไม่ถูกละเมิดก็ไม่ต้อง เข้าสู่กระบวนการตามกฎหมายฉบับนี้ หรือหากสามารถเลือกใช้สิทธิในช่องทางอื่นและไม่ประสงค์จะใช้สิทธิ ตามกฎหมายนี้ หากบุคคลใดเห็นว่าตนได้รับหรือจะได้รับความเสียหายจากการกระทำในลักษณะที่เป็น การเลือกปฏิบัติโดยไม่เป็นธรรมระหว่างเพศ และประสงค์จะใช้สิทธิตามกฎหมายฉบับนี้ สามารถยื่นคำร้องต่อคณะกรรมการวินิจฉัยการเลือกปฏิบัติโดยไม่เป็นธรรมระหว่างเพศได้ตามมาตรา 18 สถานศึกษาดังกล่าวมีระเบียบเกี่ยวกับการแต่งกายห้ามไว้หรือไม่ หากมีระเบียบห้ามไว้ อาจเป็นการเลือกปฏิบัติด้วยเหตุแห่งเพศได้</p>
                                    <div class="testimonial-info">
                                        <img src="assets/img/testimonials/user.jpg" alt="">
                                        <span class="testimonial-author">
                                            Admin
                                            <em>เจ้าหน้าที่</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>