@{
    Layout = "~/Views/Shared/Single.cshtml";

    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">ติดต่อ สค.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">ส่วนภูมิภาค</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-u">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-map-marker"></i> ส่วนภูมิภาค</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-group acc-v1" id="accordion-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวรัตนาภา จังหวัดขอนแก่น
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-One" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.806139600297!2d102.83205911453575!3d16.485351032531135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x312289f87acabdb9%3A0x6c415f4af3c75e7f!2z4Lio4Li54LiZ4Lii4LmM4Liq4LiH4LmA4LiE4Lij4Liy4Liw4Lir4LmM4LmB4Lil4Liw4Lid4Li24LiB4Lit4Liy4LiK4Li14Lie4Liq4LiV4Lij4Li14Lij4Lix4LiV4LiZ4Liy4Lig4Liy!5e0!3m2!1sth!2sth!4v1466754533573" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>497 หมู่ 14 ต.ศิลา อ.เมือง จ.ขอนแก่น  40000</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 4324 3350</li>
                                                <li><i class="fa fa-fax"></i>โทรสาร : 0 4334 2950</li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>Rattanapa2533@gmail.com</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>-</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวภาคตะวันออกเฉียงเหนือ จังหวัดศรีสะเกษ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-Two" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.1433150125704!2d100.52614666536694!3d13.769956745858126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x898011f712679070!2z4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4LiB4Li04LiI4LiB4Liy4Lij4Liq4LiV4Lij4Li14LmB4Lil4Liw4Liq4LiW4Liy4Lia4Lix4LiZ4LiE4Lij4Lit4Lia4LiE4Lij4Lix4Lin!5e0!3m2!1sth!2sth!4v1466751628486" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>53 หมู่ที่ 3 ต. ทุ่งสว่าง อ.วังหิน จ.ศรีสะเกษ  33270</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 4582 6235,0 4582 6236</li>
                                                <li><i class="fa fa-fax"></i>โทรสาร : 0 4334 2950</li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>sisaketcenter@hotmail.com</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>-</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวภาคกลาง จังหวัดนนทบุรี
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-Three" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30981.363081831794!2d100.50306220156162!3d13.918639681049626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x19d37cded442eef6!2z4Lio4Li54LiZ4Lii4LmM4Liq4LiH4LmA4LiE4Lij4Liy4Liw4Lir4LmM4LmB4Lil4Liw4Lid4Li24LiB4Lit4Liy4LiK4Li14Lie4Liq4LiV4Lij4Li14Lig4Liy4LiE4LiB4Lil4Liy4LiH!5e0!3m2!1sth!2sth!4v1466756713592" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>78/3 หมู่ที่ 1 ถ.ติวานนท์ ต.บางตลาด อ.ปากเกร็ด จ.นนทบุรี 11120</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 2583 8350,0 2961 1882</li>
                                                <li><i class="fa fa-fax"></i>โทรสาร : 0 2583 8350</li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>women.trainingcenter@gmail.com</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>http://www.women-trainingcenter.com</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวเฉลิมพระเกียรติสมเด็จพระเทพฯ 36 พรรษา จังหวัดชลบุรี
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-Four" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.1433150125704!2d100.52614666536694!3d13.769956745858126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x898011f712679070!2z4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4LiB4Li04LiI4LiB4Liy4Lij4Liq4LiV4Lij4Li14LmB4Lil4Liw4Liq4LiW4Liy4Lia4Lix4LiZ4LiE4Lij4Lit4Lia4LiE4Lij4Lix4Lin!5e0!3m2!1sth!2sth!4v1466751628486" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>104 หมู่ 3 ต.บางละมุง อ.บางละมุง จ.ชลบุรี 20150</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 3824 1072,0 3824 1766</li>
                                                <li><i class="fa fa-fax"></i>โทรสาร : 0 3824 1766</li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>-</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>-</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-five">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัว จังหวัดเชียงราย
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-five" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.9460476207782!2d99.72947831457623!3d19.67230703807024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d771ed5b46e439%3A0x4e87cf5d67693e0a!2z4Lio4Li54LiZ4Lii4LmM4Lid4Li24LiB4Lit4Liy4LiK4Li14Lie4Liq4LiV4Lij4Li14LiI4Lix4LiH4Lir4Lin4Lix4LiU4LmA4LiK4Li14Lii4LiH4Lij4Liy4Lii!5e0!3m2!1sth!2sth!4v1466756977875" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>10 หมู่ 10 ต.ทรายขาว อ.พาน จ.เชียงราย 57120</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 5372 3950</li>
                                                <li><i class="fa fa-fax"></i>โทรสาร : 0 5395 8055</li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>info@vtw-cr.go.th</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>http://www.vtw-cr.go.th</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-six">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวภาคเหนือ จังหวัดลำปาง
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-six" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3788.1285223659042!2d99.41494541455761!3d18.29572978078774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d96ed1449a1515%3A0x38c4e2bbf353c5f3!2z4Lio4Li54LiZ4Lii4LmM4Liq4LiH4LmA4LiE4Lij4Liy4Liw4Lir4LmM4LmB4Lil4Liw4Lid4Li24LiB4Lit4Liy4LiK4Li14Lie4Liq4LiV4Lij4Li14Lig4Liy4LiE4LmA4Lir4LiZ4Li34Lit!5e0!3m2!1sth!2sth!4v1466757119970" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>140 หมู่ 6 ถ.ลำปาง-เชียงใหม่ ต.ปงแสนทอง อ.เมือง จ.ลำปาง 52100</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 5482 9734,0 5482 9735</li>
                                                <li><i class="fa fa-fax"></i>โทรสาร : 0 5482 9735</li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>northwomen@yahoo.com</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>http://www.northernwomen.go.th</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-seven">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวเฉลิมพระเกียรติ 72 พรรษา บรมราชินีนาถ จังหวัดลำพูน
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-seven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.1433150125704!2d100.52614666536694!3d13.769956745858126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x898011f712679070!2z4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4LiB4Li04LiI4LiB4Liy4Lij4Liq4LiV4Lij4Li14LmB4Lil4Liw4Liq4LiW4Liy4Lia4Lix4LiZ4LiE4Lij4Lit4Lia4LiE4Lij4Lix4Lin!5e0!3m2!1sth!2sth!4v1466751628486" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>279  หมู่ 9 ต.ต้นธง อ.เมืองลำพูน จ.ลำพูน 51000</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 5309 2420</li>
                                                <li><i class="fa fa-fax">โทรสาร : 0 5309 2420</i></li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>vtc072@gmail.com</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>-</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-eight">
                                        <i class="fa fa-university"></i>ศูนย์เรียนรู้การพัฒนาสตรีและครอบครัวภาคใต้ จังหวัดสงขลา
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-eight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Google Map -->
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.3434263855943!2d100.28025961446905!3d7.086128018333397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304d220019c41e7f%3A0x6032dc1549eea652!2z4Lio4Li54LiZ4Lii4LmM4Liq4LiH4LmA4LiE4Lij4Liy4Liw4Lir4LmM4LmB4Lil4Liw4Lid4Li24LiB4Lit4Liy4LiK4Li14Lie4Liq4LiV4Lij4Li14Lig4Liy4LiE4LmD4LiV4LmJ4LiI4Lix4LiH4Lir4Lin4Lix4LiU4Liq4LiH4LiC4Lil4Liy!5e0!3m2!1sth!2sth!4v1466757389280" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            <!-- End Google Map -->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <!-- Contacts -->
                                            <h3>สถานที่ทำงาน</h3>
                                            <ul class="list-unstyled who">
                                                <li><i class="fa fa-home"></i>590  หมู่ 11 ต.กำแพงเพชร อ.รัตภูมิ จ.สงขลา 90180</li>
                                                <li><i class="fa fa-phone"></i>โทรศัพท์ : 0 7458 4111, 0 7458 4113</li>
                                                <li><i class="fa fa-fax"></i>โทรสาร : 0 7458 4113</li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>wfdc.songkhla@gmail.com</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>http://www.southwomencenter.org</a></li>
                                            </ul>
                                            <hr>
                                            <!-- Business Hours -->
                                            <h3>เวลาทำการ</h3>
                                            <ul class="list-unstyled">
                                                <li><strong>จันทร์-ศุกร์:</strong> 08:30น. - 16:30น.</li>
                                                <li><strong>เสาร์-อาทิตย์:</strong> ปิดทำการ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
