@{
    ViewData["title"] = "สื่อประชาสัมพันธ์ : สื่อวีดีทัศน์";
}



<!-- Left Bordered Funny Boxes -->
<div class="container content-sm">
    <div class="heading heading-v1 margin-bottom-40">
        <h2>@ViewData["title"]</h2>
    </div>
   
    @{
        for (int c = 1; c <= 5; c++)
        {
            <div class="row margin-bottom-10">
                <div class="col-sm-12">
                    <div class="funny-boxes funny-boxes-left-green">
                        <div class="row ">
                            <div class="col-md-4 funny-boxes-img">
                                <a href="~/assets/img/avata-youtube.jpg" rel="gallery" class="fancybox img-hover-v1" title="Image 1">
                                    <span><img class="img-responsive" src="~/assets/img/avata-youtube.jpg" alt=""></span>
                                </a>
                                
                            </div>
                            <div class="col-md-8">
                                <h2><a href="#">นายเลิศปัญญา บูรณบัณฑิต อธิบดีกรมกิจการสตรีและสถาบันครอบครัว</a></h2>
                                <p>
                                    มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง ด่าทอ หยาบคาย 
                                    ห่วงเด็กเลือกประชดพ่อแม่ มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง
                                    เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่ มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม 
                                    สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่ 
                                    มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง เกินครึ่งโต้เถียง 
                                    ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่ มูลนิธิหญิงชายก้าวไกลเผยผลสำรวจเด็กประถม สะท้อนครอบครัวไทยนิยมใช้ความรุนแรง 
                                    เกินครึ่งโต้เถียง ด่าทอ หยาบคาย ห่วงเด็กเลือกประชดพ่อแม่
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
</div>
<!-- End Left Bordered Funny Boxes -->
