@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">เรื่องเด่นประเด็นร้อน</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">เรื่องเด่นประเด็นร้อน</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline-v2">
                <li class="equal-height-columns">
                    <div class="cbp_tmtime equal-height-column"><span>8/6/59</span> <span>มิถุนายน</span></div>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel equal-height-column">
                        <h2>ประชุม</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="assets/img/main/a.jpg" alt="">
                                <div class="md-margin-bottom-20"></div>
                            </div>
                            <div class="col-md-8">
                                <p>เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓ เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓ เช้าวันนี้ (พ.๘ มิ.ย. ๕๙) เวลา ๑๐.๓๐ น.ณ ห้องแคทลียา ๒ ชั้น ๓ โรงแรมแอมบาสเดอร์ สุขุมวิท กรุงเทพฯ พลตำรวจเอก อดุลย์ แสงสิงแก้ว</p>
                                <p><a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="equal-height-columns">
                    <div class="cbp_tmtime equal-height-column"><span>1/6/59</span> <span>มิถุนายน</span></div>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel equal-height-column">
                        <h2>ประชุมหารือการเตรียมการจัดงาน CSR กับบริษัท P&G</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="assets/img/main/c.jpg" alt="">
                                <div class="md-margin-bottom-20"></div>
                            </div>
                            <div class="col-md-8">
                                <p>บ่ายวันนี้ (พ.1 มิ.ย. 59) เวลา 14.30 น. อธิบดีกรมกิจการสตรีและสถาบันครอบครัว (นายเลิศปัญญา บูรณบัณฑิต) ได้ประชุมหารือการเตรียมการจัดงาน CSR กับบริษัท P&G</p>
                                <p><a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="equal-height-columns">
                    <div class="cbp_tmtime equal-height-column"><span>6/4/59</span> <span>เมษายน</span></div>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel equal-height-column">
                        <h2>วันต่อต้านการค้ามนุษย์</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="assets/img/main/b.jpg" alt="">
                                <div class="md-margin-bottom-20"></div>
                            </div>
                            <div class="col-md-8">
                                <p>วานนี้ (6 เม.ย.59) เวลา 09.00 น. พลเอก ประยุทธ์ จันทร์โอชาณ ตึกสันติไมตรี ทำเนียบรัฐบาล นายกรัฐมนตรี เป็นประธานเปิดงานวันต่อต้านการค้ามนุษย์ ประจำปี 2559</p>
                                <p><a href="javascript:void(0)" class="btn-u btn-u-xs btn-u-blueh"><i class="fa fa-mail-forward"></i> อ่านต่อ</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>