

/*custom css in all page*/
@font-face {
 font-family: Myfont;
 src: url("/assets/plugins/font-awesome/fonts/THSarabun.ttf") format('woff')/* TTF file for CSS3 browsers */
}
@font-face {
 font-family: Myfont;
 src: url("assets/plugins/font-awesome/THSarabun.ttf") /* TTF file for CSS3 browsers */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header .container {
    font-size:20px;
}

.footer-v1 .footer {
    background : #5f063e;
}
.footer a, .copyright a, .footer a:hover, .copyright a:hover {
    color: #2cd5b6;
}

body {
    font-size:14px;
}

.link-list a  {
    font-size:14px;
}