@{
    ViewData["Title"] = "จัดซื้อจัดจ้าง";
}


<div class="container content">
    <div class="col-md-12">
        <div class="row margin-bottom-10">
            <div class="col-md-9">
                <div class="bg-light">
                    <!-- You can delete "bg-light" class. It is just to make background color -->
                    <h4><i class="fa fa-align-justify"></i>@ViewBag.description</h4>
                    <p>@ViewBag.description</p>
                </div>
            </div>
        </div>
    </div>
</div>