@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">เข้าสู่ระบบ</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="Home/index"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li class="active">เข้าสู่ระบบ</li>
        </ul>
    </div>
</div>
<div class="container content-sm">
    <div class="testimonials-v6 testimonials-wrap">
        <div class="row margin-bottom-50">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="testimonials-info rounded-bottom">
                    <img class="rounded-x" src="~/assets/img/logo-dwf.png" alt="">
                    <div class="testimonials-desc">
                        <h3><a href="http://58.97.16.116/" target="_blank">เข้าสู่ระบบ</a></h3>
                        <h5>ระบบศูนย์ปฏิบัติการ กรมกิจการสตรีและสถาบันครอบครัว</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials-info rounded-bottom">
                    <img class="rounded-x" src="~/assets/img/logo-dwf.png" alt="">
                    <div class="testimonials-desc">
                        <h3><a href="Home/Intralogin" target="_blank">เข้าสู่ระบบ</a></h3>
                        <h5>INTRANET</h5>
                    </div>
                </div>
            </div>
        </div><!--/end row-->
    </div>
</div>