@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="container content-sm">
    <div class="shadow-wrapper">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="row">
                <div class="tag-box form-page">
                    <div class="headline"><h3>ร้องทุกข์ร้องเรียน</h3></div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-2 control-label">เลือกหมวดหมู่</label>
                            <div class="col-lg-5">
                                <select class="form-control">
                                    <option>-------------- กรุณาเลือก --------------</option>
                                    <option>ร้องเรียนเรื่องทุจริต จัดซื้อจัดจ้าง</option>
                                    <option>ร้องเรียนเรื่องคุณธรรม จริยธรรม</option>
                                    <option>ข้อคิดเห็นหรือข้อเสนอแนะ</option>
                                    <option>การใช้งานเว็บไซต์</option>
                                    <option>ร้องเรียนเรื่องทั่วไป</option>
                                    <option>สำหรับบุคคลทั่วไป</option>
                                    <option>แจ้งการใช้งาน</option>
                                    <option>กิจกรรมของหน่วยงาน</option>
                                    <option>ข่าวประชาสัมพันธ์เกี่ยวกับการบริการ</option>
                                    <option>การติดต่อหน่วยงาน</option>
                                    <option>คำชมเชย</option>
                                    <option>แจ้งเรื่องการใช้งาน</option>
                                    <option>การกีดกันระหว่างประโยชน์ส่วนตนและประโยชน์ส่วนรวม</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">เรื่องร้องทุกข์-ร้องเรียน</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="inputPassword1" placeholder="กรุณากรอกชื่อเรื่อง">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">ชื่อ-นามสกุล</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="inputPassword1" placeholder="กรุณากรอกชื่อ นามสกุล">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">อีเมล์</label>
                            <div class="col-lg-4">
                                <input type="email" class="form-control" id="inputPassword1" placeholder="กรุณากรอกอีเมล์">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">ที่อยู่</label>
                            <div class="col-lg-6">
                                <textarea class="form-control" rows="2" name="message" id="message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword1" class="col-lg-2 control-label">รายละเอียดการร้องทุกข์</label>
                            <div class="col-lg-6">
                                <textarea class="form-control" rows="5" name="message" id="message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn-u btn-u-green">ส่งข้อความ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
