@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/img01.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>พลตำรวจเอก อดุลย์ แสงสิงแก้ว</span>
            <small>รัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<div class="margin-right-10">
    <div id="w3c4042">
            <hr>

            <div>
                <span class="text_normal">

                    <div><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติ</strong></div>

                    <div>
                        <p></p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;พลตำรวจเอก อดุลย์ แสงสิงเเก้ว
                    </div>

                    <div>&nbsp;</div>

                    <div><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตำแหน่งปัจจุบัน</strong> </div>

                    <div>
                        <p></p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.รัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์&nbsp;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.รองหัวหน้าคณะรักษาความสงบแห่งชาติ <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.หัวหน้าฝ่ายกิจการพิเศษ คณะรักษาความสงบเเห่งชาติ <br>
                        <br>
                        <strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การศึกษา</strong>
                    </div><strong></strong>

                    <ul>

                        <li>

                            <div><p></p>มัธยมศึกษาตอนต้น โรงเรียนปิยะมหาราชาลัย จังหวัดนครพนม </div>
                        </li>

                        <li>

                            <div>มัธยมศึกษาตอนปลาย โรงเรียนเทเวศร์ศึกษา กรุงเทพมหานคร </div>
                        </li>

                        <li>

                            <div>รัฐประศาสนศาสตร์บัณฑิต โรงเรียนนายร้อยตำรวจ ปี พ.ศ. 2591 (นรต.29) </div>
                        </li>

                        <li>

                            <div>ศิลปศาสตร์ดุษฎีบัณฑิต (พัฒนาสังคม) มหาวิทยาลัยเกษตรศาสตร์ ปี พ.ศ. 2533 </div>
                        </li>

                        <li>

                            <div>วิทยาศาสตร์ดุษฏีบัณฑิตกิตติมศักดิ์ สาขาวิชาเทคโนโลยีสารสนเทศเเละการสื่อสาร มหาวิทยาลัยนครพนม พ.ศ. 2556 </div>
                        </li>
                    </ul>

                    <div>
                        <br>
                        <strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การศึกษาเพิ่มเติม<p></strong>
                    </div><strong></strong>

                    <ul>

                        <li>

                            <div>โรงเรียนเสนาธิการทหารบก หลักสูตรฝ่ายอำนวยการตำรวจ ชุดที่ 6 ปี พ.ศ. 2525 </div>
                        </li>

                        <li>

                            <div>วิทยาลัยเสนาธิการทหาร รุ่นที่ 33 พ.ศ. 2534 </div>
                        </li>

                        <li>

                            <div>สถาบันพัฒนาข้าราชการตำรวจ หลักสูตรการบริหารงานตำรวจชั้นสูง รุ้นที่ 15 ปี พ.ศ. 2538</div>
                        </li>

                        <li>

                            <div>วิทยาลัยป้องกันราชอาณาจักร หลักสูตรการป้องกันราชอาณาจักร รุ่นที่ 42 ปี พ.ศ. 2542 </div>
                        </li>

                        <li>

                            <div>สถาบันวิทยาการตลาดทุน หลักสูตรผู้บริหารระดับสูง รุ่นที่ 5 ปี พ.ศ. 2550 </div>
                        </li>

                        <li>

                            <div>วิทยาลัยการยุติธรรม หลักสูตรผู้บริหารกระบวนการยุติธรรมระดับสูง รุ่นที่ 15 ปี พ.ศ. 2553-2554 </div>
                        </li>

                        <li>

                            <div>มหาวิทยาลัยหอการค้าไทย กระทรวงพาณิชย์ หลักสูตรผู้บริหารระดับสูงด้านการค้าและการพาณิชย์ รุ่นที่ 5 ปี พ.ศ. 2555 </div>
                        </li>

                        <li>

                            <div>มหาวิทยาลัยธรรมศาสตร์ หลํกสูตร ความเป็นเลิศของนักบริหาร ปี พ.ศ. 2538 </div>
                        </li>
                    </ul>

                    <div>&nbsp;</div>

                    <div><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการ (เริ่มรับราชการตั้งเเต่ เม.ย. 2519)</strong></div><p></p>

                    <ul>

                        <li>

                            <div>รอง สวป.สน.ปทุมวัน </div>
                        </li>

                        <li>

                            <div>ผบ.มว.หน่วยปฏิบัติการพิเศษ กก.ภ.จว.นครพนม </div>
                        </li>

                        <li>

                            <div>สวป.สภ.อ.เมืองมุกดาหาร </div>
                        </li>

                        <li>

                            <div>สว.กิ่ง อ.หว้านใหญ่ จว.มุกดาหาร </div>
                        </li>

                        <li>

                            <div>สว.สภ.อ.นิคมคำสร้อย จว.มุกดาหาร </div>
                        </li>

                        <li>

                            <div>ผบ.ร้อย 4 กก.1 รร.นรต. </div>
                        </li>

                        <li>

                            <div>หน.ผ.3(ยุทธการ) กก.ตชด.13 อ.เมือง จว.กาญจนบุรี </div>
                        </li>

                        <li>

                            <div>รอง ผกก.อก.ตชด.ภาค1 </div>
                        </li>

                        <li>

                            <div>ผบก.ผง.1 สนผ. </div>
                        </li>

                        <li>

                            <div>ผบก.จร. </div>
                        </li>

                        <li>

                            <div>ผู้ช่วย ผบช.น. </div>
                        </li>

                        <li>

                            <div>รอง ผบช.น. </div>
                        </li>

                        <li>

                            <div>ผบช.ภ.3ผบช.ภ.9 ผบ.ศปก.ตร.สน. </div>
                        </li>

                        <li>

                            <div>ผู้ช่วย ผบ.ตร. รรท. ผบช.ภ.9/ผบ.ศปก.ตร.สน. </div>
                        </li>

                        <li>

                            <div>ที่ปรึกษา(สบ 10) (ด้านความมั่นคงและกิจการพิเศษ) (อัตรา พล.ต.อ.) </div>
                        </li>

                        <li>

                            <div>รอง ผบ.ตร. </div>
                        </li>
                        <li>

                            <div>เลขาธิการคณะกรรมการป้องกันและปราบปรามยาเสพติด (1 ต.ค.54 - 30 ก.ย. 55) </div>
                        </li>
                        <li>
                            <div>ผบ.ตร. (1 ต.ค.55 - 30 ก.ย.57) </div>
                        </li>
                        <li>
                            <div>รอง หน.คสช. (22 พ.ค. - ปัจจุบัน) </div>
                        </li>
                        <li>
                            <div>หน.ฝกศ.คสช.(22 พ.ค. - ปัจจุบัน) </div>
                        </li>
                    </ul>
                    <br />
                    <div><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เกียรติประวัติและผลงานที่สำคัญ</strong></div><p></p>
                    <ul>
                        <li>
                            <div>สมัครใจไปปฏิบัติงานในพื้นที่ทุรกันดารห่างไกลและมีสถานการณ์การก่อการร้ายรุนเเรงในพื้นที่ อ.นาแก จังหวัดนครพนม เมื่อปี พ.ศ. 2520 </div>
                        </li>
                        <li>
                            <div>ปราบปราม ผกค. และมีผลการปะทะ จำนวน 42 ครั้ง </div>
                        </li>
                        <li>
                            <div>รางวัลสถานีตำรวจดีเด่น ปี พ.ศ. 2527 , 2528 จาก บก.ภ.6 และ บช.ภ.2 (เมื่อครั้งดำรงตำแหน่ง หัวหน้าสถานีตำรวจ สภ.กิ่ง อ.หว้านใหญ่ฯ และ สภ. อ.นิคมคำสร้อย จังหวัดมุกดาหาร) </div>
                        </li>
                        <li>
                            <div>รางวัลคนไทยตัวอย่าง ประจำปี พ.ศ. 2527 จากมูลนิธิธารน้ำใจ </div>
                        </li>
                        <li>
                            <div>เป็นอาจารย์พิเศษและผู้ทรงคุณวุฒิ รร.นรต. ตั้งเเต่ ปี พ.ศ. 2528 - ปัจจุบัน </div>
                        </li>
                        <li>
                            <div>ได้รับแต่งตั้งให้เป็น ผบก.จร. เป็นกรณีเร่งด่วนเมื่อ 30 เม.ย. 2541 เพื่อเข้าคลี่คลายสถานการณ์ในการบริหารงานของ บก.จร.และสามารถแก้ไขปัญหากองกู้สถานภาพของ บก.จร. จนเป็นที่ยอมรับดดยทั่วไป </div>
                        </li>
                        <li>
                            <div>ได้รับเเต่งตั้งให้เป็น ผู้อำนวยการศูนย์รักษาความปลอดภัยและการจราจรในการประชุมผู้นำเอเปค 2003ณ กรุงเทพฯ ระหว่าง 20-23 ต.ค. 2546 ที่ กรุงเทพฯ ซึ่งได้รับคำชมเชยในผลการปฏิบัติเป็นอย่างยิ่ง </div>
                        </li>
                        <li>
                            <div>ได้รับการเเต่งตั้งเป็นกรณีเร่งด่วน เพื่อแก้ไขปัญหาความไม่สงบในจังหวัดชายเเดนภาคใต้จำนวน 2 ครั้ง ในช่วงที่มีสถานการณ์รุนเเรงมากรวมระยะเวลา 3 ปี 2 เดือน (ระหว่าง 1 มิ.ย.2548 - 30 ก.ย.2549 และ 5 ต.ค. 2550-28 ก.พ. 2552) </div>
                        </li>
                        <li>
                            <div>สมาชิกสภานิติบัญญัติแห่งชาติ ปี พ.ศ. 2549 </div>
                        </li>
                        <li>
                            <div>ได้รับการยกย่องจากหนังสือพิมพ์ไทยรัฐให้เป็น "ตำรวจแห่งปี" ในปี พ.ศ. 2550 </div>
                        </li>
                        <li>
                            <div>ได้รับการตั้งฉายาจากสมาคมผู้สื่อข่าวและช่างภาพอาชญากรรมเเห่งประเทศไทย ดังนี้ประจำปี พ.ศ. 2551 ได้รับฉายา มือปราบดับไฟใต้ประจำปี พ.ศ. 2552 ได้รับฉายา วีรบุรุษด้ามขวานทอง </div>
                        </li>
                        <li>
                            <div>ได้รับประกาศเกียรติคุณจาก สมาคมนักข่าวอาชญากรรมเเห่งประเทศไทยในฐานะเป็น"ผู้ปฏิบัติงานด้วยจิตวิญญาณ เพื่อทดเเทนคุณเเผ่นดิน และเพื่อรักษาไว้ซึ่งความสงบสุขของประเทศชาติ" ในปี พ.ศ. 2552 - ได้รับรางวัลเชิดชูเกียรติสาขาต้นเเบบผู้พิทักษ์สันติราษฎร์ ประจำปี พ.ศ. 2554-2555 จาก สมาคมผู้สื่อข่าวและช่างภาพอาชญากรรมแห่งประเทศไทย </div>
                        </li>
                        <li>
                            <div>ได้รับรางวัลสุดยอดนักข่าวอะวอร์ด สาขาตำรวจนักบริหาร ประจำปี พ.ศ. 2555-2556 จาก สมาคมนักข่าวอาชญากรรมแห่งประเทศไทย </div>
                        </li>
                        <li>
                            <div>ได้รับการคัดเลือกให้เป็น "พลเมืองคนกล้า" ของสถาบันสัญญา ธรรใศักดิ์ ประจำปี พ.ศ. 2552 </div>
                        </li>
                        <li>
                            <div>ได้รับการคัดเลือกเชิดชูเกียรติให้เป็น "เกษตรศาสตร์ ปราดเปรื่อง" รุ่นที่ 9 ของมหาวิทยาลัยเกษตรศาสตร์ ประจำปี พ.ศ. 2553 </div>
                        </li>
                        <li>
                            <div>ได้รับพระราชทานเครื่องราชอิสริยาภรณ์ชั้นสูงสุดของตำรวจมาเลเซีย จากสมเด็จพระราชาธิบดีแห่งสหพันธรัฐมาเลเซีย ในปี พ.ศ. 2554 </div>
                        </li>
                        <li>
                            <div>ได้รับคัดเลือกได้เป็นสุดยอด CEO ของภาคราชการและเจ้าหน้าที่ของรัฐประจำปี พ.ศ. 2554 ในอันดับที่ 3(คะเเนนร้อยละ 53 เพราะเป็นสุดยอดของผู้นำหัวใจแกร่ง กล้าหาญเสี่ยงชีวิต เป็นตำรวจในอุดมคติตัวจริง ไม่สร้างภาพ เป็นความหวัง ลดปัญหาเสพติดในสังคมไทย) จากการสำรวจของสำนักวิจัยเอเเบคโพล โดย สุ่มตัวอย่างจากกลุ่มธุรกิจ SME ทั่วปรเทศ ระหว่าง 15 ธ.ค.2554 - 2 ม.ค.2555 </div>
                        </li>
                        <li>
                            <div>ได้รับประกาศเกียรติคุณศิษย์เก่าดีเด่น โรงเรียนเสนาธิการทหารบก ประจำปี พ.ศ. 2556 </div>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
