@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/img02.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
            <span>พลตำรวจเอก สุวัฒน์ จันทร์อิทธิกุล</span>
            <small>ผู้ช่วยรัฐมนตรีประจำกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ปริญญาโท พัฒนบัณฑิตบริหารศาสตร มหาบัณฑิต สถาบันบัณฑิตพัฒนบริหารศาสตร์</li>
            <li>ปริญญาตรีทางรัฐประศาสนศาสตร์ (ตำรวจ) โรงเรียนนายร้อยตำรวจ</li>
            <li>ระดับมัธยมต้นเเละมัธยมปลาย โรงเรียนเซนต์คาเรียล</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การศึกษาอบรมเพิ่มเติม</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>หลักสูตรการบริหารงานตำรวจชั้นสูง รุ่นที่ 14.</li>
            <li>หลักสูตรการป้องกันราชอาณาจักร (วปอ.) รุ่นที่ 4313</li>
            <li>หลักสูตร FBI รุ่นที่ 210</li>
            <li>หลักสูตรผู้บริหารระดับสูง สถาบันวิทยาการตลาดทุน (วตท.) รุ่นที่ 15</li>
            <li>หลักสูตรผู้บริหารระดับสูง สถาบันวิทยาการพลังงาน (วพน.) รุ่นที่ 2</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการทำงาน</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ผู้บังคับบัญชากองทะเบียนพล</li>
            <li>ผู้ช่วยผู้บัญชาการ สำนักงานกำลังพล</li>
            <li>ผู้ช่วยผู้บัญชาการ กองบัญขาการศึกษา</li>
            <li>รองผู้บัญชาการ กองบัญชาการตำรวจสอบสวนกลาง</li>
            <li>รองบัญชาการ กองบัญชาการตำรวจปราบปรามยาเสพติด</li>
            <li>ผู้บัญชาการ กองบัญชาการตำรวจปราบปรามยาเสพติด</li>
            <li>ผู้บัญชาการ สำนักงานเทคโนโลยีสารสนเทศและการสื่อสาร</li>
            <li>ผู้ช่วยบัญชาการตำรวจเเห่งชาติ</li>
            <li>ที่ปรึกษา (สบ 10)สำนักงานตำรวจเเห่งชาติ</li>
            <li>รองผู้บัญชาการตำรวจเเห่งชาติ</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เครื่องราชอิสริยาภรณ์</strong></td>
<p>
    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ชั้นสายสะพาย มหาปรมาภรณ์ช้างเผือก (ม.ป.ช.)</li>
            <li>ชั้นสายสะพาย มหาวชิรมงกุฎ (ม.ว.ม.)</li>
            <br />
        </ul>
        </tr>          <!--End Resume-->