@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}		<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/img03.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
            <span>ผศ.จิราภา งามลักษณ์</span>
            <small>ที่ปรึกษารัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ปริญญาโท - Master of Education (Ed.M.)</li>
            <li>Oregon State University ,United State of America</li>
            <li>ปริญญาตรี - ศิลปศาสตรบัญฑิต (ศศ.บ.ภาษาศาสตร์) มหาวิทยาลัยธรรมศาสตร์</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการทำงาน</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ตำแหน่ง นายกเหล่ากาชาดภาค 3 และนายกเหล่ากาชาดจังหวัดนครราชสีมาสถานที่ทำงาน จังหวัดนครราชสีมา</li>
            <li>ตำแหน่ง นายกเหล่ากาชาดสมุทรสาคร สถานที่ทำงาน จังหวัดสมุทรสาคร</li>
            <li>ตำแหน่ง นายกเหล่ากาชาดจังหวัดตราด สถานที่ทำงาน จังหวัดตราด</li>
            <br>
        </ul>
   
        </tr>
        <!--End Resume-->
