@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}		<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/img04.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
            <span>พลตำรวจเอก พีระ พุ่มพิเชฏฐ์</span>
            <small>เลขานุการรัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>   <li>ระดับมัธยมศึกษา<br>
            โรงเรียนรัตนธิเบศร์ พ.ศ. 2513 ( ม.ศ.1-ม.ศ.3)
            <br>โรงเรียนเตรียมทหาร พ.ศ. 2516 ชั้นสูงสุด
            <br></li>
        </ul>
        <ul>
            <li>
                ระดับอุดมศึกษา<br>
                โรงเรียนร้อยตำรวจ (รุ่นที่ 30) พ.ศ. 2520 (รปบ.ตร.)
                <br>มหาวิทยาลัยเกษตศาสตร์ พ.ศ. 2532 ศิลปศาสตร์ มหาบัญฑิต (สาขาพัฒนาสังคม)
                <br>
            </li>
        </ul>
        <ul>
            <li>
                การอบรมทางทหาร<br>
                ศึกษาหลักสูตนการป้องกันราชอาณาจักร (วปอ. รุ่น43) พ.ศ. 2544
                <br>หลักสูตรการบริหารงานตำรวจขั้นสูง รุ่นที่ 17 พ.ศ. 2540
                <br>หลักสูตรวิทยาลัยการทัพบก รุ่น 44 พ.ศ. 2539
                <br>หลักสูตรชั้นนายร้อยเหล่าทหารราบ พ.ศ. 2523
                <br>เข้าร่วมการฝึกส่งกำลังบำรุงร่วมกองทัพไทย และ U.S.A. (Log - ex)
                <br>หลักสูตรผู้บริหารระดับสูงสถาบันวิทยาการตลาดทุน (วตท) รุ่น 13
            </li>
        </ul>
        <ul>
            <li>
                การอบรมการสืบสวนสอบสวนหลังเหตุระเบิด (Post - Blast Investigation) Louisiana State Police U.S.A. 3 ตำแหน่ง ราชการสำคัญ<br>
                โรงเรียนรัตนธิเบศร์ พ.ศ. 2513 ( ม.ศ.1-ม.ศ.3)
                <br>ผบ.มว. ตชด. เขต 3 (จว. อุบลราชธานี)
                <br>ผบ.มว. กองร้อย 1 โรงเรียนนายร้อยตำรวจ
                <br>สารวัตรสืบสวนสอบสวน สภ.อ. เมืองชล
                <br>นายเวร ผู้บังคับบัญชาตำราจภูธร 1 และผู้ช่วยอธิบดี กรมตำรวจ
                <br>รองผู้กำกับการ สนับสนุนทางอากาศ ตำราจตระเวนชายแดน
                <br>ผู้กำกับการ 2 และ 3 กองบังคับการ อำนวยการ สำนักงานส่งกำลังบำรุง สำนักงานตำรวจแห่งชาติ
                <br>รองผู้บังคับการ กองสรรพาวุธ และกองตำรวจสื่อสาร
                <br>ผู้บังคับการ กองทเบียนพล สำนักงานตำรวจแห่งชาติ
                <br>ผู้บังคับการ กองงบประมาณ สำนักงานตำรวจแห่งชาติ
                <br>ผู้ช่วยผู้บัญชาการ สำนักงานแผนงานและงบประมาณสำนักงานตำรวจแห่งชาติ
                <br>รองผู้บัญชาการ สำนักงานแผนงานและงบประมาณ สำนักงานตำรวจแห่งชาติ
                <br>รองผู้บัญชาการตำรวจภูธร ภาค 9/ รองผู้บัญชาการศูนย์ปฏิบัติการ สำนักงานตำรวจแห่งชาติ ส่วนหน้า
                <br>ผู้บัญชาการศูนย์ปฏิบัติการตำรวจจังหวัดชายแดนภาตใต้ (ผบช.คชต.) คนแรกแต่วันที่ 16 กุมภาพันธ์ 2552
                <br>ที่ปรึกษา (สบ 10 ) ตั้งแต่วันที่ 1 ตุลาคม 2556

            </li>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เรื่องราชอิสริยาภรณ์  </strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>มหาปรมาภรณ์ช้างเผือก</li>
            <br/></ul>
        </tr>
        <!--End Resume-->
