@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}		<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/img05.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นางสาวอนุสรี ทับสุวรรณ</span>
            <small>ประจำสำนักเลขาธิการนายกรัฐมนตรี</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->

<div id="w3c4042">

    <hr>

    <div>
        <span class="text_normal">

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติ</strong></div><p>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นางสาวอนุสรี ทับสุวรรณ</div>
            <br />
            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การศึกษา</strong><p></p></div>

            <ul>

                <li>

                    <div>
                        2535 - ปริญญาโท ความสัมพันธ์ระหว่างประเทศ (นโยบายการพัฒนา)<br>
                        จากมหาวิทยาลัย United States International University - Europe (Alliant University)<br>
                        กรุงลอนดอน ประเทศอังกฤษ
                    </div>
                </li>

                <li>

                    <div>
                        2533 - ปริญญาตรี คณะรัฐศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย<br>
                        สาขาความสัมพันธ์ระหว่างประเทศ(เกียรตินิยม อันดับ2)
                    </div>
                </li>
            </ul>

            <div>&nbsp;</div>

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เครื่องราชอิสริยาภรณ์</strong><p></p></div>

            <ul>

                <li>5 ธ.ค. 2555 ประถมาภรณ์ มงกุฎไทย (ปม.) </li>
            </ul>

            <div>&nbsp;</div>

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประสบการณ์ทำงานด้านการเมือง</strong><p></p></div>

            <ul>

                <li>

                    <div>
                        เมษายน 2556- 11 กุมภาพันธ์ 2557 เลขานุการผู้ว่าราชการกรุงเทพมหานคร<br>
                        (ม.ร.ว.สุขุมพันธุ์ บริพัตร) / รองประธานคณะทำงานบริหารเขตกรุงเทพใต้
                    </div>
                </li>

                <li>

                    <div>
                        กุมภาพันธ์ 2556 - มีนาคม 2556 เลขานุการคณะทำงานรณรงค์การเลือกตั้งผู้ว่าราชการ<br><br/>
                        กรุงเทพมหานครพรรคประชาธิปัตย์ พ.ศ. 2556
                    </div>
                </li>

                <li>

                    <div>
                        14 ธันวาคม 2553 - 9 มกราคม 2556 เลขานุการผู้ว่าราชการกรุงเทพมหานคร<br>
                        (ม.ร.ว. สุขุมพันธ์ บริพัตร)
                    </div>
                </li>
            </ul>

            <div>&nbsp;</div>

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กระทรวงการต่างประเทศ</strong><p></p></div>

            <ul>

                <li>

                    <div>รับราชการที่กระทรวงการต่างประเทศตั้งแต่ปี 7 มกราคม 2537 - 14 ธันวาคม 2553</div>
                </li>

                <li>

                    <div>ธันวาคม 2556 - ธันวาคม 2550 กงสุล ณ สถานกงสุลใหญ่ ณ เมืองฮ่องกง</div>
                </li>
            </ul>

            <div>&nbsp;</div>

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประสบการณ์ด้านอื่น</strong><p></p></div>

            <ul>

                <li>

                    <div>พิธีกรรายการ 60 minutes in thailand ทางสถานีโทรทัศน์ช่อง 9</div>
                </li>

                <li>

                    <div>พิธีกรรายการ " สื่อความหมายขยายประเด็น" สถานีโทรทัศน์ช่อง 11</div>
                </li>
            </ul>

            <div>&nbsp;</div>

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประสบการณ์ฝึกอบรม</strong><p></p></div>

            <ul>

                <li>

                    <div>หลักสูตร " การเจรจาต่อรองในศตวรรษที่ 21 " สถาบันพัฒนาบริหารศาสตร์ (นิด้า)</div>
                </li>

                <li>

                    <div>การจัดการเลือกตั้ง จัดโดย กรรมการกงสุล และคณะกรรมการการเลือกตั้ง (กกต.)</div>
                </li>

                <li>

                    <div>หลักสูตร "How to be a Professional Diplomat"</div>
                </li>

                <li>

                    <div>หลักสูตร "Effective Services" (บริษัทเทเลคอมเอเซีย คอร์ปอเรชัน จำกัด มหาชน)</div>
                </li>
            </ul>

            <div>&nbsp;</div>

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กิจกรรมที่สนใจ</strong><p></p></div>

            <ul>

                <li>

                    <div>เขียนบทความด้านการเมือง (บทความเคยได้รับการลงพิมพ์ในมติชนสุดสัปดาห์)</div>
                </li>

                <li>

                    <div>อ่านหนังสือ ติดตามบทความเกี่ยวกับการเมือง เขียนกรอน</div>
                </li>

                <li>

                    <div>ติดตามสนใจเกี่ยวกับวิวัฒนาการด้านเทคดนโลยีสารสนเทศ</div>
                </li>
            </ul>

            <div>&nbsp;</div>

            <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กิจกรรมสังคม</strong><p></p></div>

            <ul>

                <li>กรรมการ สภาวัฒนธรรมเศรษฐกิจไทย-จีน </li>
            </ul>
        </span>
    </div>
</div>