@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="container">
    <div class="headline-center margin-bottom-60">
        <div class="margin-bottom-60"></div>

        <h2>
            <a href="http://localhost:53684/cio/PFkm"<br />ผู้บริหารฝ่ายการเมือง</a>
        </h2>
        <p>
    </div>
    <div class="headline-center margin-bottom-60">
        <h2>
            <a href="http://localhost:53684/cio/PFICT"<br />ผู้บริหารฝ่ายข้าราชการประจำกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</a>
        </h2>
        <p>
    </div>
    <div class="headline-center margin-bottom-60">
        <h2>
            <a href="http://localhost:53684/cio/PFEXE"<br />ผู้บริหารกรมกิจการสตรีและสถาบันครอบครัว</a>
        </h2>
        <p>
    </div>
</div>