@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="headline-center margin-bottom-60">
    <h2>
        <br />สารจากนายกรัฐมนตรี
    </h2>
    <p>

        <center><img class="img-responsive" align="center" src="~/assets/img/team/obj01.jpg"></center>