@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>กรมกิจการสตรีและสถาบันครอบครัว</title>
</head>
    <div>

        <div class="headline-center margin-bottom-60">
            <h2>
                <br />อธิบดีกรมกิจการสตรีและสถาบันครอบครัว
            </h2>
            <p>

                <!--ProfileSA EXE-->

                <div class="row team-v5 margin-left-20">
                    <div class="col-md-20 sm-margin-bottom-50">
                        <div class="Margin-left-20">
                            <div><br /></div>
                            <center><img class="img-responsive" align="center" src="~/assets/img/team/exe01.jpg" alt style="width: 150px; height: 197px;"></center>
                            <div class="team-hover">
                            </div>
                        </div>
                        <br />
                        <span>นายเลิศปัญญา บูรณบัณฑิต</span>
                        <div><font color="FF00CC"> อธิบดีกรมกิจการสตรีและสถาบันครอบครัว
            <p> Lertpanya1@hotmail.com , lertpanya1@owf.go.th</font>
        </div>
    </div>
    </div>
    </div>

    <!--Mini exe-->
    <div class="headline-center margin-bottom-60">
        <h3>
            รองอธิบดีกรมกิจการสตรีและสถาบันครอบครัว
        </h3>
        <p>
            <!--=== colum 2===-->
            <div class="hedline-center margin-bottom-50"></div>
            <div class="container">
            </div>
            <div class="row team-v6 margin-bottom-60">
                <div class="col-md-7 col-sm-6 md-margin-bottom-50">
                    <div class="margin-right-50"></div>
                    <center><img class="img-responsive" src="~/assets/img/team/exe02.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
                    <span>นางสาววันเพ็ญ สุวรรณวิสิฏฐ์ </span>
                    <div>
                        <font color="FF00CC">
                            รองอธิบดีกรมกิจการสตรีและสถาบันครอบครัว
        <p>
            wanpen.su@owf.go.th
            </font>
    </div>
    </ul>
    </div>

    <div class="col-md-3 col-sm-6 md-margin-bottom-50">
        <center><img class="img-responsive" src="~/assets/img/team/exe03.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
        <span>นายวิศิษฐ์ เดชเสน</span>
        <font color="FF00CC">
            รองอธิบดีกรมกิจการสตรีและสถาบันครอบครัว
            <p>wisit.de@owf.go.th
        </font>
    </div>
    <!--colum 3 -->
    <div class="headline-center margin-bottom-100">
        <h3>
            <br /><br />
      ผู้อำนวยการสำนัก/กอง
        </h3> 
        <p>
    </div>

    <div class="hedline-center margin-bottom-50"></div>
    <div class="container">
    </div>
    <div class="row team-v6 margin-bottom-60">
        <div class="col-md-7 col-sm-6 md-margin-bottom-50">
            <div class="margin-right-50"></div>
            <center><img class="img-responsive" src="~/assets/img/team/exe04.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
            <span>นางดารารัตน์ แก้วสลับสี </span>
            <div>
                <font color="FF00CC">
                    ผู้อำนวยการกองส่งเสริมสถาบันครอบครัว 
                    <p>
                        dararat.ka@owf.go.th , darak21@hotmail.com
                </font>
            </div>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <center><img class="img-responsive" src="~/assets/img/team/exe05.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
            <span>นางพัชรี อาระยะกุล </span>
            <font color="FF00CC">
                ผู้อำนวยการกองส่งเสริมความเสมอภาคระหว่างเพศ 
                <p>patcharee.ar@owf.go.th
            </font>
        </div>
        <!--=== Colum4 ===-->

        <div class="hedline-center margin-bottom-50"></div>
        <div class="container">
        </div>
        <div class="row team-v6 margin-bottom-60">
            <div class="col-md-7 col-sm-6 md-margin-bottom-50">
                <div class="margin-right-50"></div>
                <center><img class="img-responsive" src="~/assets/img/team/exe06.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
                <span>นางอัจฉรา พุ่มมณีกร</span>
                <div>
                    <font color="FF00CC">
                        ผู้เชี่ยวชาญเฉพาะด้านครอบครัว 
                        <p>achara.pu@owf.go.th , achara9@hotmail.com
                    </font>
                </div>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <center><img class="img-responsive" src="~/assets/img/team/exe07.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
                <span>นางรัตนา สัยยะนิฐี </span>
                <font color="FF00CC">
                    ผู้เชี่ยวชาญเฉพาะด้านสตรี 
                    <p>rattana.sa@owf.go.th , r_saiyanitee@yahoo.com
                </font>
            </div>
            <!--=== Colum5 ===-->
            <div class="hedline-center margin-bottom-50"></div>
            <div class="container">
            </div>
            <div class="row team-v6 margin-bottom-60">
                <div class="col-md-7 col-sm-6 md-margin-bottom-50">
                    <div class="margin-right-50"></div>
                    <center><img class="img-responsive" src="~/assets/img/team/exe08.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
                    <span>นางพัทธ์วิรา สุวรรณ</span>
                    <div>
                        <font color="FF00CC">
                            เลขานุการกรม สำนักงานเลขานุการกรม
                            <p>
                                pattvira.su@owf.go.th, pattviras@hotmail.com
                        </font>
                    </div>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <center><img class="img-responsive" src="~/assets/img/team/exe09.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
                    <span>นางถิรวดี พุ่มนิคม </span>
                    <font color="FF00CC">
                        ปฏิบัติหน้าที่ผู้อำนวยการกองยุทธศาสตร์และแผนงาน
                        <p>thirawadee.ph@owf.go.th
                    </font>
                </div>
                <!--=== Colum6 ===-->
                <div class="hedline-center margin-bottom-50"></div>
                <div class="container">
                </div>
                <div class="row team-v6 margin-bottom-60">
                    <div class="col-md-7 col-sm-6 md-margin-bottom-50">
                        <div class="margin-right-50"></div>
                        <center><img class="img-responsive" src="~/assets/img/team/exe10.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
                        <span>นางศิริกุล อินทรพาณิชย์</span>
                        <div>
                            <font color="FF00CC">
                                ปฏิบัติหน้าที่ผู้อำนวยการกองคุ้มครองสวัสดิภาพบุคคลในครอบครัว
                                <p>
                                    sirikul.in@owf.go.th
                            </font>
                        </div>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                        <center><img class="img-responsive" src="~/assets/img/team/exe11.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
                        <span>นายบรรณรัตน์ เก่งกสิกิจ</span>
                        <font color="FF00CC">
                            ปฏิบัติหน้าที่ผู้อำนวยการกองคุ้มครองและพัฒนาอาชีพ
                            <p>bannarat.ke@owf.go.th
                        </font>

                    </div>
                    <!--Head colum3-->
                    <div class="headline-center margin-bottom-60">
                        <h3>
                            <br /><br />
                            หัวหน้ากลุ่ม/หน่วย
                        </h3>
                        <p>
                            <!--=== Colum7 ===-->
                            <div class="hedline-center margin-bottom-50"></div>
                            <div class="container">
                            </div>
                            <div class="row team-v6 margin-bottom-60">
                                <div class="col-md-7 col-sm-6 md-margin-bottom-50">
                                    <div class="margin-right-50"></div>
                                    <center><img class="img-responsive" src="~/assets/img/team/exe12.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
                                    <span>นางสาวสิริวรรณ เย็นตั้ง </span>
                                    <div>
                                        <font color="FF00CC">
                                            หัวหน้ากลุมพัฒนาระบบบริหาร 
                        <p>
                            siriwan.ye@owf.go.th
                            </font>
                    </div>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <center><img class="img-responsive" src="~/assets/img/team/exe13.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
                    <span>นางสาวลลิดา แก้วสุวรรณ</span>
                    <font color="FF00CC">
                        หัวหน้ากลุ่มตรวจสอบภายใน 
                        <p>lalida.ke@owf.go.th
                    </font>

                </div>