		@{
            ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
        }
<!--=== Head & Profile SA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
        <h2>
            <br />รายชื่อคณะผู้บริหารฝ่ายการเมือง<br>
            กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์
        </h2>
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict01.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
            <a href="http://localhost:53684/cio/ict01"
                    <span>นายไมตรี อินทุสุต</span></a>
            <small>ปลัดกระทรวง</small>
        </div>
    </div>
</div>
<!--=== END Head & Profile SA ===-->

<!--Colum 2-->
<div class="container">
</div>
<div class="row team-v6 margin-bottom-20">
    <div class="col-md-7 col-sm-6 md-margin-bottom-50">
        <center><img class="img-responsive" src="~/assets/img/team/ict02.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
        <!-- Link Profile-->
        <a href="http://localhost:53684/cio/ict02"
            <span>ว่าที่ ร.ต.ศรัณย์ สมานพันธ์</span></a>
        <small>รองปลัดกระทรวง</small>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 md-margin-bottom-50">
        <center><img class="img-responsive" src="~/assets/img/team/ict03.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
        <!-- Link Profile-->
        <a href="http://localhost:53684/cio/ict03"
            <span>นายวิทัศน์ เตชะบุญ</span></a>
        <small>รองปลัดกระทรวง</small>
        <p></p>
    </div>
    <!--End colum2-->

    <!--Colum3-->
    <div class="row team-v1 margin-bottom-10">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict04.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
            <a href="http://localhost:53684/cio/ict04"
                    <span>นางเสาวนีย์ โขมพัตร</span> </a>
            <small>หัวหน้าผู้ตรวจราชการกระทรวงและโฆษกกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
    </div>
</div>
<!--end colum 3-->

<!--colum 4-->

<div class="container">
</div>
<div class="row team-v6 margin-bottom-60">
    <div class="col-md-7 col-sm-6 md-margin-bottom-50">
        <div class="margin-right-50"></div>
        <center><img class="img-responsive" src="~/assets/img/team/ict05.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
        <!-- Link Profile-->
        <a href="http://localhost:53684/cio/ict05"
            <span>ว่าที่ ร.ต.ศรัณย์ สมานพันธ์</span></a>
        <small>รองปลัดกระทรวง</small>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6 md-margin-bottom-50">
        <center><img class="img-responsive" src="~/assets/img/team/ict06.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
        <!-- Link Profile-->
        <a href="http://localhost:53684/cio/ict06"
            <span>นายวิทัศน์ เตชะบุญ</span></a>
        <small>รองปลัดกระทรวง</small>
    </div>
    <!--/end colum4-->

    <!--colum 5-->

    <div class="container">
    </div>
    <div class="row team-v6 margin-bottom-60">
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <div class="margin-right-50"></div>
            <center><img class="img-responsive" src="~/assets/img/team/ict07.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
            <!-- Link Profile-->
            <a href="http://localhost:53684/cio/ict07"
            <span>นางธนาภรณ์ พรมสุวรรณ</span></a>
            <small>ผู้ตรวจราชการกระทรวง</small>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 md-margin-bottom-50">
            <center><img class="img-responsive" src="~/assets/img/team/ict08.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
            <!-- Link Profile-->
            <a href="http://localhost:53684/cio/ict08"
            <span>นางสาวอุษณี กังวารจิตต์</span></a>
            <small>ผู้ตรวจราชการกระทรวง</small>
        </div>
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <center><img class="img-responsive" src="~/assets/img/team/ict09.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
            <!-- Link Profile-->
            <a href="http://localhost:53684/cio/ict09"
            <span>นายสัมพันธ์ สุวรรณทับ</span></a>
            <small>ผู้ตรวจราชการกระทรวง</small>
        </div>
        <br />
        <!--/end colum5-->

        <!--colum 6-->

        <div class="container">
        </div>
        <div class="row team-v6 margin-bottom-60">
            <div class="col-md-7 col-sm-6 md-margin-bottom-50">
                <div class="margin-right-50"></div>
                <center><img class="img-responsive" src="~/assets/img/team/ict10.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
                <!-- Link Profile-->
                <a href="http://localhost:53684/cio/ict10"
            <span>นายชินชัย ชี้เจริญ</span></a>
                <small>ที่ปรึกษาวิชาการพัฒนาสังคม</small>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <center><img class="img-responsive" src="~/assets/img/team/ict11.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
                <!-- Link Profile-->
                <a href="http://localhost:53684/cio/ict11"
            <span>นายปัญญา กางกรณ์</span></a>
                <small>ที่ปรึกษาด้านกฎหมาย</small>
            </div>
            <!--/end colum6-->
