	@{
        ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
    }
	<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
        <h2><br />รายชื่อคณะผู้บริหารฝ่ายการเมือง<br>
กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</h2>
        <p>
    </div>
        <div class="row team-v5 margin-left-20">
            <div class="col-md-20 sm-margin-bottom-50">
                <div class="Margin-left-20">
                        <center><img class="img-responsive" align="center" src="~/assets/img/team/img01.jpg" alt style="width: 150px; height: 197px;"></center>
                        <div class="team-hover">
                        </div>
                    </div>
                <br />
                <a href="http://localhost:53684/cio/km01"
                    <span>พลตำรวจเอก อดุลย์ แสงสิงแก้ว</span> </a>
                    <small>รัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
                </div>
            </div>
        </div>
        <!--=== ProfileSA ===-->
<!--=== Profileteam ===-->
<div class="hedline-center margin-bottom-50"></div>
<div class="container">
    </div>
    <div class="row team-v6 margin-bottom-60">
        <div class="col-md-7 col-sm-6 md-margin-bottom-50">
            <div class="margin-right-50"></div>
            <center><img class="img-responsive" src="~/assets/img/team/img02.jpg" align="center" alt style="width: 150px; height: 197px;" alt=""></center>
            <!-- Link Profile-->
            <a href="http://localhost:53684/cio/km02"
            <span>พลตำรวจเอก สุวัฒน์ จันทร์อิทธิกุล</span></a>
            <small>ผู้ช่วยรัฐมนตรีประจำกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 md-margin-bottom-50">
            <center><img class="img-responsive" src="~/assets/img/team/img03.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
            <!-- Link Profile-->
            <a href="http://localhost:53684/cio/km03"
            <span>ผศ.จิราภา งามลักษณ์</span></a>
            <small>ที่ปรึกษารัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
        <div class="row team-v7 margin-bottom-60">
            <div class="col-md-7 col-sm-6 sm-margin-bottom-50">
                <center><img class="img-responsive" src="~/assets/img/team/img04.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
                <!-- Link Profile-->
                <a href="http://localhost:53684/cio/km04" 
                <span>พลตำรวจเอก พีระ พุ่มพิเชฏฐ์</span></a>
                <small>เลขานุการรัฐมนตรีว่าการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
            </div>
            <div class="col-md-3 col-sm-6">
                <center><img class="img-responsive" src="assets/img/team/img05.jpg" alt style="width: 150px; height: 197px;" alt=""></center>
                <!-- Link Profile-->
                <a href="http://localhost:53684/cio/km05"
                <span>นางสาวอนุสรี ทับสุวรรณ</span></a>
                <small>ประจำสำนักเลขาธิการนายกรัฐมนตรี</small>
            </div>
        </div><!--/end profile team-->
</div>