@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<div class="container">
    <div class="headline-center margin-bottom-60">
        <h2>
            <br />วิสัยทัศน์ พันธกิจหลัก ภารกิจหลัก ยุทธศาสตร์
        </h2>
        <p>
    </div>
</div>
<div><ul>
    <h3><font color="FF00CC">วิสัยทัศน์</font></h3>
</ul></div>
<div><ul><h4>&nbsp;&nbsp;&nbsp;&nbsp;" ยกระดับสถานภาพสตรี สร้างครอบครัวเข้มแข็ง บนพื้นฐานของสังคมแห่งสิทธิ โอกาส และความเสมอภาค ลดการเลือกปฏิบัติระหว่างเพศ "</h4></ul></div>
<div><ul><br /><h3><font color="FF00CC">พันธกิจหลัก</font></h3></ul></div>
<div><ul>
    <li>เสนอและพัฒนานโยบาย มาตรการ กฎหมายและกลไกด้าน การพัฒนาศักยภาพและสถานภาพสตรี รวมทั้งการส่งเสริมความเสมอภาคและเท่าเทียมระหว่างเพศ และการเสริมสร้างความเข้มแข็งของสถาบันครอบครัว</li>
    <li>
        ป้องกัน คุ้มครองพิทักษ์สิทธิและสวัสดิภาพ และการจัดสวัสดิการสังคมแก่สตรีและครอบครัว
    </li>
    <li>ส่งเสริม สนับสนุนการบูรณาการร่วมกับองค์กรภาคีเครือข่ายในการพัฒนาศักยภาพและสถานภาพสตรี ความเสมอภาคระหว่างเพศ ความเข้มแข็งของสถาบันครอบครัว และการป้องกันและแก้ไขปัญหาความรุนแรงในครอบครัว</li>
    <li>พัฒนาบุคลากร ระบบบริหารจัดการ และเทคโนโลยีสารสนเทศ เพื่อสนับสนุนการดำเนินงานของหน่วยงานให้เกิดผลสัมฤทธิ์ มีประสิทธิภาพและคุ้มค่า</li>
</ul></div>

<div><ul><br /><h3><font color="FF00CC">ภารกิจหลัก</font></h3></ul></div>
<div>
    <ul><span>
                <li>
                    ตามกฏกระทรวง แบ่งส่วนราชการสำนักงานกิจการสตรีและสถาบันครอบครัว
                    <p>กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ พ.ศ. 2545
                </li>
</p>
</span></ul>

</div>

<div>
    <ul>
        <span>
                <li>
                    กฏกระทรวงฯ ได้กำหนดให้หน่วยงานมีภารกิจในการพัฒนาศักยภาพสตรี การส่งเสริมความเสมอภาคของหญิงและชาย และการสร้างความเข้มแข็งของครอบครัว
                    โดยการกำหนดนโยบาย มาตรการ กลไกการส่งเสริมสนับสนุนภาครัฐและเอกชนในการดำเนินการตามนโยบายที่กำหนด เพื่อให้สตรีได้รับการพัฒนาศักยภาพ การคุ้มครองพิทักษ์สิทธิ มีความเสมอภาคและเป็นธรรมทางสังคม
                    และมุ่งสร้างสถาบันครอบครัวให้มีความมั่นคงเป็นปึกแผ่น เพื่อเป็นกลไกในการส่งเสริมศักยภาพของหญิงและชายให้เป็นกำลังสำคัญในการพัฒนาชุมชนและสังคม
                </li>

        </span>
    </ul>
</div>
<div><ul><br /><h3><font color="FF00CC">ยุทธศาสตร์</font></h3></ul></div>
<div>
    <ul>
            &nbsp;&nbsp;&nbsp;&nbsp; ยุทธศาสตร์ที่ 1 เสริมสร้างศักยภาพ ยกระดับคุณภาพชีวิต การมีส่วนร่วมของสตรี และส่งเสริมความ   เสมอภาคระหว่างเพศ <p></p>
            &nbsp;&nbsp;&nbsp;&nbsp; ยุทธศาสตร์ที่ 2 เสริมสร้างความเข้มแข็งของสถาบันครอบครัวและคุ้มครองสวัสดิภาพบุคคลในครอบครัว <p></p>
            &nbsp;&nbsp;&nbsp;&nbsp; ยุทธศาสตร์ที่ 3 พัฒนาประสิทธิภาพการบริหารจัดการ
    </ul>

</div>
