@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict09.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นายสัมพันธ์ สุวรรณทับ</span>
            <small>ผู้ตรวจราชการกระทรวง</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ศศ.ม. พัฒนาสังคมและสิ่งแวดล้อม สถาบันบัณฑิตพัฒนบริหารศาสตร์ (2550)</li>
            <li>ค.บ.วิทยาลัยครูสวนสุนันทา (2521)</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการ</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พัฒนาสังคมและสวัสดิการจังหวัดพะเยา สำนักงานปลัดกระทรวง (นักพัฒนาสังคม 8) (ม.ค.46 - ก.พ.49)</li>
            <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดพะเยา(นักพัฒนาสังคม9)(ก.พ.49 - พ.ย.49)</li>
            <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดเชียงราย (นักพัฒนาสังคม 9) (พ.ย.49 - ธ.ค.52)</li>
            <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดพะเยา (ผู้อำนวยการ) (ต.ค.52 - เม.ย.53)</li>
            <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดเพชรบูรณ์ (ผู้อำนวยการ) (เม.ย.53 - มี.ค.54)</li>
            <li>ผู้อำนวยการสำนักตรวจและประเมินผล สำนักงานปลัดกระทรวง (มี.ค.54 - พ.ค.55)</li>
            <li>พ.ศ. 2558 ผู้ตรวจราชการกระทรวง กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดนครปฐม ( ผู้อำนวยการ ) (พ.ค.55 - พ.ย.55)</li>
            <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดสุโขทัย (ผู้อำนวยการ) (พ.ค.55 - ธ.ค.57)</li>
            <li>รองอธิบดีกรมพัฒนาสังคมและสวัสดิการ (ธ.ค.57 - มิ.ย.58)</li>
            <li>รองอธิบดีกรมกิจการผู้สูงอายุ (มิ.ย.58 - ม.ค.59)</li>
            <li>ผู้ตรวจราชการกระทรวง สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ (15 ม.ค. 59)</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการฝึกอบรม</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ผู้บังคับบัญชาลูกเสือระดับผู้นำ ความรู้สูง คณะลูกเสือแห่งชาติ (พ.ศ. 2543)</li>
            <li>นักบริหารงานประชาสงเคราะห์ (นป.) รุ่นที่ 20 ศูนย์ฝึกอบรมกรมฯ (พ.ศ. 2543)</li>
            <li>นักบริหารระดับสูง : ผู้นำที่มีวิสัยทัศน์ หลักสูตรที่ 1 (นบส.1) รุ่น 47 สำนักงานคณะกรรมการข้าราชการพลเรือน (พ.ศ. 2549)</li>
            <li>นักบริหารระดับสูง : ผู้บริหารส่วนราชการ (นบส.2) รุ่น 7 สำนักงานคณะกรรมการข้าราชการพลเรือน (พ.ศ. 2558)</li>
            <li>ผู้บริหารเทคโนโลยีสารสนเทศระดับสูง (Chief Information Officer: CIO) รุ่นที่ ๒๖ กระทรวงเทคโนโลยีสารสนเทศ (พ.ศ. 2558)</li>
            <li>ผู้บริหารระดับสูงอาเซียน (ASEAN Executive Management Program) สำนักงานคณะกรรมการข้าราชการพลเรือน (พ.ศ. 2558)</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เครื่องราชอิสริยาภรณ์</strong></td>
<p>
    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>มหาวชิรมงกุฎ (ม.ว.ท.) สาย 3</li>
            <br />
        </ul>
        </tr>
        <!--End Resume-->