@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict08.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นางสาวอุษณี กังวารจิตต์</span>
            <small>ผู้ตรวจราชการกระทรวง</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พ.ศ. 2525 ปริญญาตรี อักษรศาสตรบัณฑิต จุฬาลงกรณ์มหาวิทยาลัย</li>
            <li>พ.ศ. 2546 ปริญญาโท รัฐศาสตรมหาบัณฑิต มหาวิทยาลัยธรรมศาสตร์</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการ</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พ.ศ. 2547 ผู้อำนวยการกองส่งเสริมและพัฒนาเครือข่าย สำนักงานส่งเสริมสวัสดิภาพและพิทักษ์เด็ก เยาวชน ผู้ด้อยโอกาส และผู้สูงอายุ(สท.)</li>
            <li>พ.ศ. 2548 ผู้อำนวยการสำนักส่งเสริมและพิทักษ์เยาวชน (สท.)</li>
            <li>พ.ศ. 2554 ผู้อำนวยการสำนักส่งเสริมและพิทักษ์ผู้ด้อยโอกาส (สท.)</li>
            <li>พ.ศ. 2555 ผู้อำนวยการสำนักส่งเสริมและพิทักษ์เยาวชน (สท.)</li>
            <li>พ.ศ. 2556 รองผู้อำนวยการสำนักงานส่งเสริมสวัสดิภาพและพิทักษ์เด็ก เยาวชน ผู้ด้อยโอกาส และผู้สูงอายุ</li>
            <li>พ.ศ. 2558 รองอธิบดีกรมกิจการเด็กและเยาวชน</li>
            <li>พ.ศ. 2558 ผู้ตรวจราชการกระทรวง กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการฝึกอบรม</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พ.ศ. 2548 การพัฒนานักบริหารระดับกลาง รุ่นที่ 53 สำนักงาน ก.พ. และกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>พ.ศ. 2550 การพัฒนานักบริหารระดับสูง สำนักงาน ก.พ. และกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>พ.ศ. 2554 นักบริหารการทูต รุ่นที่ 3 กระทรวงการต่างประเทศ</li>
            <li>พ.ศ. 2557 การพัฒนานักบริหารระดับสูง ผู้บริหารส่วนราชการ รุ่นที่ 6 สำนักงาน ก.พ. การป้องกันราชอาณาจักร (วปอ.) รุ่นที่ 57 วิทยาลัยป้องกันราชอาณาจักร</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เครื่องราชอิสริยาภรณ์</strong></td>
<p>
    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พ.ศ. 2552 ประถมาภรณ์ช้างเผือก</li>
            <li>พ.ศ. 2557 มหาวชิรมงกุฎ</li>
            <br />
        </ul>
        </tr>
        <!--End Resume-->
