@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict06.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นางอุษา หงส์กาญจนกุล</span>
            <small>ผู้ตรวจราชการกระทรวง</small>
        </div>
    </div>
</div>
<!--=== end ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้อมูลส่วนบุคคล</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <strong><li>ยศ/ชื่อ/นามสกุล</li></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นางอุษา&nbsp;&nbsp;&nbsp; หงส์กาณจนกุล
            <strong><li>วัน เดือน ปีเกิด</li></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25 พฤษาคม&nbsp;&nbsp;&nbsp;2499
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ปี พ.ศ. 2517 ระดับมัธยมศึกษา สาขาวิชา ประโยคมัธยมศึกษาตอนปลาย (ม.ศ.5)</li>
            <li>ปี พ.ศ. 2521 ปริญญาตรี สาขาวิชาสังคมวิทยาและมานุษยวิทยา มหาวิทยาลัยเกษตรศาสตร์บางเขน</li>
            <li>ปี พ.ศ. 2533 ปริญญาโท สังคมวิทยาการพัฒนา มหาวิทยาลัยขอนแก่น</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการฝึกอบรม</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ปี พ.ศ. 2552 หลักสูตรนักบริหารระดับสูง รุ่นที่ 25 กระทรวงสาธารณสุข</li>
            <li>ปี พ.ศ. 2555 หลักสูตรนักบริหารระดับสูง รุ่นที่ 70 ส านักงานคณะกรรมการข้าราชการพลเรือน</li>
            <li>ปี พ.ศ. 2556 หลักสูตรนักบริหารระดับสูง 2 สำนักงานคณะกรรมการข้าราชการพลเรือน</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การศึกษาดูงาน</strong></td>
<p>
<td bgcolor="#ffffff" valign="top">
    <ul>
        <li>ประเทศในภูมิอาเซียน, ประเทศอเมริกา, ประเทศบราซิล, ประเทศสวีเดน, ประเทศโปแลนด์,ประเทศนอร์เวย์, ประเทศออสเตรเลีย</li>
        <br />
    </ul>
    </tr>
    <!--End Resume-->