<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict04.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นางเสาวนีย์ โขมพัตร</span>
            <small>และโฆษกกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
    </div>
</div>

<tbody>

    <tr>

        <td bgcolor="#ffffff" valign="top" width="30%" align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong><p></p></td>

        <td bgcolor="#ffffff">

            <ul>

                <li>พ.ศ. 2520 ศิลปศาสตร์บัณฑิต (ภาษาอังกฤษ), มหาวิทยาลัยเชียงใหม่ </li>

                <li>พ.ศ. 2540 รัฐศาสตร์มหาบัณฑิต (บริหารรัฐกิจ), มหาวิทยาลัยธรรมศาสตร์ </li>
            </ul>
        </td>
    </tr>

    <tr>
        <br>
        <td bgcolor="#ffffff" valign="top" align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการทำงาน</strong><p></p></td>

        <td bgcolor="#ffffff">

            <ul>

                <li>พ.ศ. 2546 - 2547 ผู้อำนวยการศูนย์อำนวยการรับเด็กเป็นบุตรบุญธรรม </li>

                <li>พ.ศ. 2547 - 2551 ผู้อำนวยการส่วนคุ้มครองสวัสดิภาพหญิงและเด็ก </li>

                <li>พ.ศ. 2551 - 2552 ผู้อำนวยการสำนักคุ้มครองสวัสดิภาพหญิงและเด็ก </li>

                <li>พ.ศ. 2552 - 2556 ผู้อำนวยการสำนักป้องกันและแก้ไขปัญหาการค้าหญิงและเด็ก </li>

                <li>พ.ศ. 2556 - 2557 รองอธิบดีกรมพัฒนาสังคมและสวัสดิการ กรมพัฒนาสังคมและสวัสดิการ </li>

                <li>พ.ศ. 2557 - 2558 ผู้ตรวจราชการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ </li>

                <li>ปัจจุบัน หัวหน้าผู้ตรวจราชการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ และโฆษกกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ </li>
            </ul>
        </td>
    </tr>

    <tr>
        <br>
        <td bgcolor="#ffffff" valign="top" align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผลงานและประสบการณ์ </strong><p></p></td>

        <td bgcolor="#ffffff">

            <ul>

                <li>การประชุมระหว่างประเทศ เรื่องการรับเด็กเป็นบุตรบุญธรรมระหว่างประเทศ ณ ประเทศเยอรมัน สวีเดน ฝรั่งเศสและนอร์เวย์ </li>

                <li>การประชุม เรื่องแนวทางการพัฒนาเด็กและเยาวชน ณ ประเทศอังกฤษ สหรัฐอเมริกา และสวิตเซอร์แลนด์ </li>

                <li>การประชุม เรื่อง การป้องกันและแก้ไขปัญหาการค้ามนุษย์ ณ ประเทศในภูมิภาคยุโรป อเมริกา อนุภูมิภาคลุ่มน้ำโขง และอาเซียน </li>
            </ul>
        </td>
    </tr>
</tbody>