@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict05.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
            <span>นายสมคิด สมศรี</span>
            <small>ผู้ตรวจราชการกระทรวง</small>
        </div>
    </div>
</div>

<br />

<!--resume-->

<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

<td bgcolor="#ffffff" valign="top">
    <ul>
        <li>ปริญญาโท สาขาพัฒนาสังคม มหาวิทยาลัยเกษตรศาสตร์บางเขน</li>
        <li>รองผู้อำนวยการสำนักงานส่งเสริมสวัสดิภาพและพิทักษ์เด็ก เยาวชน</li>
        <br>
        </ul>
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการ</strong></td><p>

<td bgcolor="#ffffff" valign="top">
    <ul>
        <li>รองอธิบดีกรมพัฒนาสังคมและสวัสดิการ (พ.ย.55 - ปัจจุบัน)</li>
        <li>รองผู้อำนวยการสำนักงานส่งเสริมสวัสดิภาพและพิทักษ์เด็ก เยาวชน</li>
        ผู้ด้อยโอกาส และผู้สูงอายุ ( ก.ค.55 - ต.ค.55)
        <li>ผู้อำนวยการสำนักงานส่งเสริมและสนับสนุนวิชากร 8 (ต.ค.52 - ก.ค.55)</li>
        <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดสตูล (ต.ค.51 - ก.ย.52)</li>
        <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดกำแพงเพชร (ต.ค.48 - ต.ค.50)</li>
        <li>ผู้ปกครองนิคมสร้างตนเองตากฟ้า จังหวัดนครสวรรค์ (ต.ค.46 - ต.ค.48)</li>
        <li>ผู้ปกครองนิคมสร้างตนเองทุ่งโพธิ์ทะเล จังหวัดกำแพงเพชร (ก.พ.46 - ต.ค.46)</li>
        <br>
    </ul>

<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เริ่มรับราชการ</strong></td><p>
<td bgcolor="#ffffff" valign="top">
    <ul><li>กรมประชาสงเคราะพ.ศ. 2521</li>
    <br />
    </ul>
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตำแหน่งปัจจุบัน</strong></td><p>
<td bgcolor="#ffffff" valign="top">
    <ul>
    <li>ผู้ตรวจราชการกระทรวง กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
    </ul>
</td>
    </tr>