@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict01.jpg" style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
          <br />
            <div><span>นายไมตรี อินทุสุต</span></div>
            <div><small>ปลัดกระทรวง</small></div>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<br />

        <td bgcolor="#ffffff" valign="top" width="30%" align="left">

        <div><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong><p></div>
        </td>
            <ul>
                <li>
                    <div>โรงเรียน ภ.ป.ร. ราชวิทยาลัย ในพระบรมราชูปถัมภ์ </div>
                </li>

                <li>

                    <div>โรงเรียนเตรียมอุดมศึกษา</div>
                </li>

                <li>ปริญญาตรีและโท คณะรัฐศาสตร์ มหาวิทยาลัยธรรมศาสตร์ </li>

                <li>โรงเรียนนายอำเภอ (นอ. รุ่น 29) พ.ศ. 2532 </li>

                <li>หลักสูตรนักบริหารระดับสูง (นบส. รุ่น 31) พ.ศ. 2543 </li>

                <li>หลักสูตรวิทยาลัยป้องกันราชอาณาจักร (วปอ. รุ่นที่ 49) พ.ศ. 2549-2550 </li>
            </ul>
    <br />

        <td bgcolor="#ffffff" valign="top" align="left"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการ</strong></td>
            <p></p>
            <ul>

                <li>เจ้าหน้าที่วิเคราะห์นโยบายและแผน สำนักงานสภาความมั่นคงแห่งชาติ </li>

                <li>ปฏิบัติหน้าที่เลขานุการสภาความมั่นคงแห่งชาติ </li>

                <li>ปฏิบัติหน้าที่เลขานุการเลขาธิการนายกรัฐมนตรี </li>

                <li>หัวหน้าฝ่ายรัฐสภา กองการเมืองภายในประเทศ และหัวหน้าฝ่ายเลขานุการนายกรัฐมนตรี กองงานนายกรัฐมนตรี สำนักเลขาธิการ นายกรัฐมนตรี </li>

                <li>โอนไปรับราชการกระทรวงมหาดไทย ปฏิบัติหน้าที่เลขานุการปลัดกระทรวงมหาดไทย </li>

                <li>พ.ศ. 2537 หัวหน้าสำนักงานจังหวัดอุบลราชธานี ชัยภูมิ และพิษณุโลก สำนักงานปลัดกระทรวงมหาดไทย </li>

                <li>พ.ศ. 2540 เลขานุการกรมการปกครอง </li>

                <li>พ.ศ. 2542 รองอธิการวิทยาลัยการปกครอง กรมการปกครอง </li>

                <li>พ.ศ. 2544 ผู้อำนวยการกองวิชาการและแผนงาน กรมการปกครอง </li>

                <li>พ.ศ. 2545 ผู้อำนวยการสำนักนโยบายและแผน สำนักงานปลัดกระทรวงมหาดไทย </li>

                <li>พ.ศ. 2546 รองผู้ว่าราชการจังหวัดพังงา และปี 2548 รองผู้ว่าราชการจังหวัดนครศรีธรรมราช (ช่วยราชการสำนักงานปลัดกระทรวงมหาดไทย ปฏิบัติหน้าที่หัวหน้าสำนักงาน ศูนย์อำนวยการต่อสู้เพื่อเอาชนะยาเสพติด และศูนย์ต่อสู้เพื่อเอาชนะความยากจน กระทรวงมหาดไทย) </li>

                <li>พ.ศ. 2549 รองผู้ว่าราชการจังหวัดลพบุรี </li>

                <li>พ.ศ. 2549 รองผู้ว่าราชการจังหวัดศรีสะเกษ </li>

                <li>พ.ศ. 2551 รองผู้ว่าราชการจังหวัดลพบุรี </li>

                <li>พ.ศ. 2552 ผู้ว่าราชการจังหวัดตรัง </li>

                <li>พ.ศ. 2554 ผู้ว่าราชการจังหวัดพะเยา </li>

                <li>พ.ศ. 2555 ผู้ว่าราชการจังหวัดภูเก็ต </li>

                <li>พ.ศ. 2557 รองปลัดกระทรวงมหาดไทย </li>

                <li>พ.ศ. 2558 อธิบดีกรมการพัฒนาชุมชน </li>

                <li>ปัจจุบัน ปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ </li>
            </ul>

