@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict03.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นายวิทัศน์ เตชะบุญ</span>
            <small>รองปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>วิทยาศาสตรมหาบัณฑิต (เกษตรศาสตร์) มหาวิทยาลัยเชียงใหม่ </li>
            <li>วิทยาศาสตรบัณฑิต (เกษตรศาสตร์) มหาวิทยาลัยเชียงใหม่</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการในตำแหน่งสำคัญ</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>หัวหน้าผู้ตรวจราชการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ (13 ต.ค.2557 – 30 ก.ย.2558)</li>
            <li>ผู้ตรวจราชการกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ (1 ต.ค.2556 - 12 ต.ค.2557)</li>
            <li>รองอธิบดีกรมพัฒนาสังคมและสวัสดิการ (1 ต.ค.2553 - 30 ก.ย.2556)</li>
            <li>พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัดเชียงใหม่ (1 ต.ค.2552 - 30 ก.ย.2553)</li>
            <li>ผู้อำนวยการสำนักงานส่งเสริมและสนับสนุนวิชาการ 8 จังหวัดลพบุรี (11 พ.ย.2545 - 30 ก.ย.2552)</li>
            <li>ผู้อำนวยการกองบริการชุมชน (1 ต.ค.2544 - 10 พ.ย.2545)</li>
            <li>ผู้ปกครองนิคมสร้างตนเองลำน้ำน่าน จังหวัดอุตรดิตถ์ (1 ต.ค.2543 - 30 ก.ย.2544)</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประสบการณ์ทำงาน</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>คณะกรรมการบริหารศูนย์คุณธรรม (ผู้แทนถาวรของกระทรวง พม.) พ.ศ.2557 - ปัจจุบัน</li>
            <li>คณะกรรมการกองทุนสำรองเลี้ยงชีพสำหรับลูกจ้างประจำของส่วนราชการ ซึ่งจดทะเบียนแล้ว (กสจ.) ชุดที่ 9 พ.ศ.2557 - ปัจจุบัน</li>
            <li>ประธานคณะทำงานบูรณาการข้อมูลด้านประชาคมสังคมและวัฒนธรรมอาเซียน พ.ศ.2557-ปัจจุบัน</li>
            <li>ประธานคณะทำงานตรวจสอบปริมาณและคุณภาพข้าว ชุดที่ 40 ปี 2557</li>
            <li>ประธานตรวจสอบความผิดละเมิดของกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ พ.ศ.2557 - ปัจจุบัน</li>
            <li>อนุกรรมการดำเนินการตรวจสอบข้อมูลข่าวสารตามกฎหมายข้อมูลข่าวสารของราชการ พ.ศ.2556 - ปัจจุบัน</li>
            <li>กรรมการผู้ทรงคุณวุฒิในคณะกรรมการควบคุมการเรี่ยไรของหน่วยงานของรัฐ (กคร. พ.ศ.2556)</li>
            <li>คณะทำงานขับเคลื่อนสวัสดิการชุมชน พ.ศ.2552 - ปัจจุบัน</li>
            <li>กำกับดูแลการดำเนินงานในสายงานสังกัดกรมพัฒนาสังคมและสวัสดิการในตำแหน่งรองอธิบดี ได้แก่ สำนักป้องกันและแก้ไขปัญหาการค้าหญิงและเด็ก 
            <br />สำนักคุ้มครองสวัสดิภาพหญิงและเด็ก ศูนย์อำนวยการรับเด็กเป็นบุตรบุญธรรม กลุ่มประสานการต่างประเทศ สำนักงานส่งเสริมและสนับสนุนวิชาการ 1 - 12 สำนักพัฒนาสังคม
            <br /> กองประสานโครงการสายใยรักแห่งครอบครัว และสำนักกิจการชาติพันธุ์</li>
            <li>ประธานคณะทำงานดำเนินการพัฒนาคุณภาพการบริหารจัดการภาครัฐ หมวด 2 การวางแผนเชิงยุทธศาสตร์ กรมพัฒนาสังคมและสวัสดิการ</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการอบรมและดูงาน</strong></td>
<p>
    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ผู้ตรวจราชการระดับกระทรวง ประจำปีงบประมาณ พ.ศ.2557 สำนักนายกรัฐมนตรี</li>
            <li>นักบริหารยุทธศาสตร์การป้องกันและปราบปรามการทุจริตระดับสูง (นยปส.) รุ่นที่ 4 สำนักงานป.ป.ช.</li>
            <li>วิทยาลัยป้องกันราชอาณาจักร (วปอ.รุ่นที่ 54) วิทยาลัยป้องกันราชอาณาจักร</li>
            <li>นักบริหารการทูต (นบท.) รุ่นที่ 1 กระทรวงการต่างประเทศ</li>
            <li>นักปกครองระดับสูง (นปส.) รุ่นที่ 48 กระทรวงมหาดไทย</li>
            <li>การประเมินสมรรถนะหลักทางการบริหาร รุ่นที่ 3 สำนักงาน กพ.</li>
            <li>นักบริหารงานประชาสงเคราะห์ (นป.) รุ่นที่ 19 กรมประชาสงเคราะห์</li>
            <li>การประชาสงเคราะห์ (ปส.) รุ่นที่ 13 กรมประชาสงเคราะห์</li>
            <br />
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ศึกษาดูงานต่างประเทศ</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>กองทุนสำรองเลี้ยงชีพกองทุนสำรองเลี้ยงชีพสำหรับลูกจ้างประจำของส่วนราชการ ซึ่งจดทะเบียนแล้ว (กสจ.) ณ ประเทศอิตาลี สวิตเซอร์แลนด์ ฝรั่งเศส ญี่ปุ่น และสหรัฐอเมริกา พ.ศ.2557 – 2558</li>
            <li>หลักสูตรผู้ตรวจราชการระดับกระทรวง ประจำปีงบประมาณ พ.ศ. 2557 สำนักนายกรัฐมนตรี ณ ราชอาณาจักรสเปน และสาธารณรัฐโปรตุเกส</li>
            <li>โครงการอบรมหลักสูตร "นักบริหารยุทธศาสตร์การป้องกันและปราบปรามการทุจริตระดับสูง” (นยปส.) รุ่นที่ 4 ณ สาธารณรัฐอินเดีย และ สหพันธ์สาธารณรัฐประชาธิปไตยเนปาล พ.ศ.2556</li>
            <li>โครงการพัฒนาประสิทธิภาพด้านการบริหารจัดการแก่ผู้บริหารระดับสูงภาครัฐ ณ สาธารณรัฐ สิงค์โปร์ พ.ศ.2556</li>
            <li>การตอบรับต่อการตั้งครรภ์ในวัยรุ่น ณ สหราชอาณาจักร และประเทศเนเธอร์แลนด์ พ.ศ.2555</li>
            <li>งานด้านการจัดสวัสดิการสังคม ประเทศในแถบสแกนดิเนเวีย (นอรเวย์ สวีเดน และเดนมาร์ก)</li>
            <li>งานด้านการรับเด็กเป็นบุตรบุญธรรม ณ สหราชอาณาจักร และประเทศฝรั่งเศส</li>
            <li>ประชุมเพื่อจัดทำร่างข้อตกลงความร่วมมือด้านกิจการชาติพันธุ์และงานการส่งเสริมอาชีพแก่กลุ่ม ชาติพันธุ์ ณ สาธารณรัฐสังคมนิยมเวียดนาม พ.ศ.2554</li>
            <li>งาน World Expo ณ สาธารณรัฐประชาชนจีน พ.ศ.2553</li>
            <li>งานด้านกิจการเด็กและเยาวชน ณ ประเทศญี่ปุ่น</li>
            <li>การพัฒนาและการท่องเที่ยว ณ ประเทศออสเตรเลีย</li>
            <li>การพัฒนาสังคมและสวัสดิการสังคม ณ ประเทศฝรั่งเศส สวิตเซอร์แลนด์ และอิตาลี</li>
            <li>การอนุรักษ์ดินและน้ำ ณ ประเทศสหรัฐอเมริกา</li>
            <li>การพัฒนาชนบทแบบผสมผสาน สถาบันวิจัยการเกษตร ณ สาธารณรัฐอียิปต์</li>
            <li>ระบบการปลูกพืชในพื้นที่ สถาบันวิจัยเกษตรแห้งแล้งและการอนุรักษ์ดินและน้ำ ณ สาธารณรัฐประชาชนจีน</li>
            <li>การทำไร่เลื่อนลอย ณ สาธารณรัฐสังคมนิยมเวียดนาม</li>
            <li>การใช้และการอนุรักษ์ดิน ณ สถาบันวิจัย ประเทศออสเตรเลีย</li>
            <li>ระบบปลูกพืช ณ สถาบันวิจัยข้าวนานาชาติ ประเทศฟิลิปปินส์ </li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วิทยากร</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>วิทยากรบรรยาย ตามโครงการส่งเสริมและสนับสนุนการจัดสวัสดิการชุมชน (สวัสดิการ 3 ขา) แก่จังหวัดต่างๆ ที่ร้องขอมากกว่า 50 จังหวัด ทำให้องค์กรปกครองส่วนท้องถิ่น ประชาชน
            <br /> คณะกรรมการกองทุนสวัสดิการชุมชน ตำบล/จังหวัด และบุคลากรภาครัฐและเอกชนมีความรู้และความเข้าใจในการส่งเสริมการจัดสวัสดิการสังคมแบบมีส่วนร่วม
            <br />รวมทั้งเตรียมความพร้อมไปสู่สังคมสวัสดิการเพื่อสวัสดิการถ้วนหน้าต่อไป</li>
            <li>วิทยากรบรรยายตามโครงการส่งเสริมระบบเกษตรเชิงอนุรักษ์บนพื้นที่สูงและการพัฒนาลุ่มน้ำขนาดเล็กแบบผสมผสาน ส่งผลให้เจ้าหน้าที่ของโครงการพัฒนาเศรษฐกิจและสังคมบนพื้นที่
            <br />สูง 6 จังหวัดภาคเหนือมีความรู้ความเข้าใจ และประชาชนบนพื้นที่สูงได้รับ การบริการส่งเสริมระบบเกษตรเชิงอนุรักษ์ที่มีความยั่งยืนมากกว่า 50,000 คน</li>
            <li>วิทยากรบรรยายงานด้านการกระทำรุนแรงในครอบครัว</li>
            <li>วิทยากรบรรยายงานด้านการตั้งครรภ์ไม่พร้อมในวัยรุ่น</li>
            <li>วิทยากรบรรยายงานด้านการค้ามนุษย์ของกระทรวง ฯ</li>
            <li>วิทยากรบรรยายเกี่ยวกับคนไร้รัฐ ไร้สถานะ และผู้พ้นโทษ ณ สถาบันพระประชาบดี กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>วิทยากรบรรยายเกี่ยวกับศูนย์ช่วยเหลือสังคม( OSCC) แก่ข้าราชการและเจ้าหน้าที่ของกระทรวง ฯและภาคีเครือข่าย</li>
            <li>วิทยากรบรรยายในหัวข้อ "ความรู้และแนวทางการจัดสวัสดิการสังคม สำหรับเด็ก สตรี ครอบครัว ผู้สูงอายุ ผู้ด้อยโอกาส และผู้พิการ” หลักสูตรนักพัฒนาสังคมและความมั่นคงของมนุษย์ (พม.) 
            <br />กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <br>
        </ul>

        </tr>
        <!--End Resume-->
