@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}
<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict02.jpg" style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นายไมตรี อินทุสุต</span>
            <small>ปลัดกระทรวง</small>
        </div>
    </div>
</div>
<!--Resume -->
<div id="w3c4042">

    <hr>

    <div>
        <span class="text_normal">

            <p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชื่อ </strong><strong>– สกุล</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ว่าที่ร้อยตรี ศรัณย์ สมานพันธ์ <br>
                <p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตำแหน่ง</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;รองปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ <br>
                    <p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ดำรงตำแหน่งนี้เมื่อ</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspวันที่ 9 กุมภาพันธ์ 2555<br>
               <p>
               <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติส่วนตัว (จาก ก.พ.7)</strong><strong> </strong><br><p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เกิดวันที่</strong> 23 <strong>เดือน</strong> สิงหาคม <strong>พ.ศ. </strong>2500 <br><p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เริ่มรับราชการวันที่</strong> 16 <strong>เดือน</strong> ตุลาคม <strong>พ.ศ.</strong>2523 <br><p>
            <br /><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เครื่องราชอิสริยาภรณ์ชั้นสายสะพาย</strong>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประถมาภรณ์มงกุฎไทย (5 ธ.ค. 2548)
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประถมาภรณ์ช้างเผือก (5 ธ.ค. 2551)
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;มหาวชิรมงกุฎ (5 ธ.ค. 2555)
    <br>
</ul>
                <strong></strong>
            </br>

            <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong><strong> </strong></p>

            <table cellspacing="0" cellpadding="0" width="100%" border="0">

                <tbody>

                    <tr>

                        <td><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณวุฒิและวิชาเอก</strong></td>

                        <td><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ปีที่สำเร็จการศึกษา</strong></td>

                        <td><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สถาบัน</strong></td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ศิลปศาสตร์บัณฑิต (รัฐศาสตร์)</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2521</td>

                        <td>มหาวิทยาลัยเชียงใหม่</td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- โรงเรียนปลัดอำเภอ</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2524</td>

                        <td>วิทยาลัยการปกครอง</td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- หลักสูตรผู้บังคับหมวด</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2525</td>

                        <td>กองรบพิเศษ (พลร่ม) ที่ 1</td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- นักบริหารระดับสูง (นบส.) รุ่นที่ 51</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2550</td>

                        <td>สำนักงาน ก.พ.</td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- ปริญญาบัตรการป้องกันราชอาณาจักร วปอ.รุ่นที่ 53</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2554</td>

                        <td>
                            วิทยาลัยป้องกันราชอาณาจักร<br>
                            สถาบันวิชาการป้องกันประเทศ
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                <br>
                <br>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการ (ดำรงตำแหน่งตั้งแต่ระดับ 8 จนถึงปัจจุบัน)</strong><strong> </strong>
            </p>

            <table cellspacing="0" cellpadding="0" width="100%" border="0">

                <tbody>

                    <tr>

                        <td width="10%" align="center"><strong>วัน เดือน ปี</strong></td>

                        <td width="28%" align="center"><strong>ตำแหน่ง</strong></td>

                        <td width="35%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สังกัด</strong></td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20 ธ.ค. 2542</td>

                        <td>หัวหน้ากลุ่มงานกิจการพิเศษ (เจ้าหน้าที่บริหารงานทั่วไป 8)</td>

                        <td>สำนักงานปลัดสำนักนายกรัฐมนตรี</td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14 ม.ค. 2543</td>

                        <td>ช่วยราชการสำนักงานเลขานุการรัฐมนตรี ประจำสำนักนายกรัฐมนตรี</td>

                        <td>สำนักเลขาธิการนายกรัฐมนตรี</td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13 พ.ย. 2545</td>

                        <td>รักษาราชการแทนผู้อำนวยการ กองเผยแพร่และประชาสัมพันธ์</td>

                        <td>สำนักงานปลัดกระทรวงการพัฒนา สังคมและความมั่นคงของมนุษย์</td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20 ม.ค. 2546</td>

                        <td>ผู้อำนวยการกองเผยแพร่และประชาสัมพันธ์ </td>

                        <td>สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์ </td>
                    </tr>

                    <tr>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30 มิ.ย. 2547</td>

                        <td>ปฏิบัติหน้าที่หัวหน้าสำนักงานรัฐมนตรี (เจ้าหน้าที่วิเคราะห์นโยบายและแผน 9)</td>

                        <td>กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</td>
                    </tr>
                </tbody>
            </table>
        </span>
    </div>
</div>