@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict07.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นางธนาภรณ์ พรมสุวรรณ</span>
            <small>ผู้ตรวจราชการกระทรวง</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<br />
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เริ่มรับราชการ</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>วันที่ 1 เดือน กุมภาพันธ์ พ.ศ. 2525</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วุฒิการศึกษา</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พ.ศ. 2524 ปริญญาตรี สังคมวิทยาและมานุษยวิทยา มหาวิทยาลัยเชียงใหม่</li>
            <li>พ.ศ. 2530 ปริญญาโท รัฐประศาสตร์ สถาบันบัณฑิตพัฒนบริหารศาสตร์</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตำแหน่งสำคัญ</strong></td>
<p>
    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พ.ศ. 2547 พัฒนาสังคมและความมั่นคงของมนุษย์จังหวัด สป.พม.</li>
            <li>พ.ศ. 2551 ผู้อำนวยการสำนักบริหารงานกลาง สป.พม.</li>
            <li>พ.ศ. 2551 ผู้อำนวยการสำนักงานส่งเสริมและสนับสนุนวิชาการเขต 2 กรมพัฒนาสังคมและสวัสดิการ</li>
            <li>พ.ศ. 2553 ผู้อำนวยการสำนักนโยบายและยุทธศาสตร์ สป.พม.</li>
            <li>พ.ศ. 2555 ผู้อำนวยการสำนักตรวจและประเมินผล สป.พม.</li>
            <li>พ.ศ. 2556 รองผู้อำนวยการสำนักงานกิจการสตรีและสถาบันครอบครัว</li>
            <br />
        </ul>
        </tr>
        <!--End Resume-->
