@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict10.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นายชินชัย ชี้เจริญ</span>
            <small>ที่ปรึกษาวิชาการพัฒนาสังคม</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>สังคมสงเคราะห์ศาสตร์บัณฑิต มหาวิทยาลัยธรรมศาสตร์ พ.ศ. 2523</li>
            <li>สังคมสงเคราะห์ศาสตร์มหาบัณฑิต มหาวิทยาลัยธรรมศาสตร์ พ.ศ. 2528 </li>
            <li>ประกาศนียบัตรชั้นสูงการบริหารภาครัฐและกฎมหายมหาชน รุ่นที่ 12 สถาบันพระปกเกล้า การอบรม/ศึกษาดูงาน </li>
            <li>หลักสูตรนักปกครองระดับสูง (นปส.) รุ่นที่ 62 วิทยาลัยการปกครอง กระทรวงมหาดไทย</li>
            <li>อบรมนักบริหารงานประชาสงเคราะห์ รุ่นที่ 20 (นป.20) กรมประชาสงเคราะห์ </li>
            <li>การอบรม Protecting the Vulnerable: The Design and Implementing of Effective Safety Nets. Washington D.C. ,
             <br />USA. จัดโดย World Bank. - การอบรม 10 th Study Program for the Asia Social Welfare Administrator, Tokyo ,Japan. จัดโดย JICWEL</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการรับราชการ</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>พ.ศ. 2527 นักสังคมสงเคราะห์ กองบริการชุมชน กรมประชาสงเคราะห์</li>
            <li>พ.ศ. 2528 นักสังคมสงเคราะห์ กองวิชาการ กรมประสงเคราะห์</li>
            <li>พ.ศ. 2533 หัวหน้าฝ่ายแผนงาน กองการสังคมสงเคราะห์เอกชน </li>
            <li>พ.ศ. 2537 หัวหน้าฝ่ายเลขานุการคณะกรรมการ สำนักงานคณะกรรมการส่งเสริม สวัสดิการสังคมแห่งชาติ กรมประชาสงเคราะห์ กระทรวงแรงงาน</li>
            <li>พ.ศ. 2545 ผู้อำนวยการกลุ่มการส่งเสริมและประสานเครือข่าย สำนักมาตรฐานการพัฒนาสังคมและความมั่นคงของมนุษย์ สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์
</li>
            <li>พ.ศ. 2547 ปฏิบัติหน้าที่รองผู้อำนวยการ สำนักงานคณะกรรมการส่งเสริมการจัดสวัสดิการสังคมแห่งชาติ
</li>
            <li>พ.ศ. 2550 ปฏิบัติหน้าที่ผู้อำนวยการศูนย์ส่งเสริมการให้และการอาสาช่วยเหลือสังคมและ ผู้อำนวยการศูนย์ส่งเสริมธุรกิจเพื่อสังคม สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>พ.ศ. 2553 ผู้เชี่ยวชาญเฉพาะด้านมาตรฐานการพัฒนาสังคมและความมั่นคงของมนุษย์ ปฏิบัติหน้าที่รองผู้อำนวยการ สำนักงานคณะกรรมการส่งเสริมการจัดสวัสดิการสังคมแห่งชาติ
            <br />สำนักงานปลัดกระทรวงการพัฒนา สังคมและความมั่นคงของมนุษย์ </li>
            <li>พ.ศ. 2557 ที่ปรึกษาวิชาการพัฒนาสังคม</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การประกาศเกียรติคุณ</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ศิษย์เก่าผู้ทำประโยชน์สร้างชื่อเสียงและเผยแพร่หรือปกป้องเกียรติคุณของมหาวิทยาลัยธรรมศาสตร์ ในรอบ 70 ปี, 27 มิถุนายน 2547.</li>
            <li>นักสังคมสงเคราะห์ดีเด่น มูลนิธิศาสตราจารย์ปกรณ์ อังศุสิงห์ ประจำปี 2548</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เครื่องราชอิสริยาภรณ์</strong></td>
<p>
    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>ประถมาภรณ์มงกุฎไทย</li>
            <br />
        </ul>
        </tr>
        <!--End Resume-->
