@{
    ViewData["Title"] = "กรมกิจการสตรีและสถาบันครอบครัว";
}<!--=== ProfileSA ===-->
<div class="container">
    <div class="headline-center margin-bottom-60">
    </div>
    <div class="row team-v5 margin-left-20">
        <div class="col-md-20 sm-margin-bottom-50">
            <div class="Margin-left-20">
                <center><img class="img-responsive" align="center" src="~/assets/img/team/ict11.jpg" alt style="width: 150px; height: 197px;"></center>
                <div class="team-hover">
                </div>
            </div>
            <br />
                    <span>นายปัญญา กางกรณ์</span>
            <small>ที่ปรึกษาด้านกฎหมาย</small>
        </div>
    </div>
</div>
<!--=== ProfileSA ===-->
<!--Resume-->
<td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประวัติการศึกษา</strong></td><p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>นิติศาสตรมหาบัณฑิต(น.ม.)และนิติศาสตรบัณฑิต(น.บ.) จากมหาวิทยาลัยรามคำแหง</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การฝึกอบรม</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>การดำเนินการทางวินัย สำนักงาน ก.พ.</li>
            <li>วิทยากรตัวคูณด้านคุณธรรมและจริยธรรม สำนักงาน ก.พ.</li>
            <li>นักบริหารงานประชาสงเคราะห์ (น.ป.) กรมประชาสงเคราะห์ รุ่นที่ ๒๐</li>
            <li>นักบริหารกิจการยุติธรรม กระทรวงยุติธรรม</li>
            <li>การพัฒนานักกฎหมายภาครัฐ สำนักงานคณะกรรมการกฤษฎีกา รุ่นที่ ๒</li>
            <li>การร่างกฎหมาย สำนักงานคณะกรรมการกฤษฎีกา</li>
            <li>พ.ศ.2550 ปฏิบัติหน้าที่ผู้อำนวยการศูนย์ส่งเสริมการให้และการอาสาช่วยเหลือสังคมและ ผู้อำนวยการศูนย์ส่งเสริมธุรกิจเพื่อสังคม สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>ผู้บริหารงานด้านกฎหมายภาครัฐระดับสูง รุ่นที่ ๔ สำนักงานคณะกรรมการกฤษฎีกา</li>
            <br>
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การศึกษาดูงาน</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>การผังเมือง ของประเทศออสเตรเลีย ประเทศสิงคโปร์</li>
            <li>การจัดสวัสดิการสังคม ของประเทศเยอรมัน ประเทศสิงคโปร์ ประเทศเมียนมาร์</li>
            <li>การพิจารณาคดีในศาล ของประเทศญี่ปุ่น</li>
            <li>การดูแลผู้สูงอายุ เด็กและเยาวชน ของประเทศออสเตรเลีย</li>
            <li>การบริหารจัดการด้านกฎหมาย เขตปกครองพิเศษฮ่องกง</li>
            <br>
        </ul>

    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ประสบการณ์</strong></td>
<p>
    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>นักประชาสงเคราะห์(ด้านเด็ก) สถานเยาวชนบ้านห้วยโป่ง จังหวัดระยอง</li>
            <li>นิติกร (ด้านวินัย) กรมประชาสงเคราะห์</li>
            <li>นิติกร (ด้านนิติการ) สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>วิทยากร(ด้านนิติการ) สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <br />
        </ul>
    <td bgcolor="#ffffff" valign="top" width="30%"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หน้าที่พิเศษ</strong></td>
<p>

    <td bgcolor="#ffffff" valign="top">
        <ul>
            <li>อ.ก.พ.สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>อนุกรรมการร่างกฎหมายของสำนักงานกิจการสตรีและสถาบันครอบครัว</li>
            <li>อนุกรรมการกลั่นกรองงานด้านกฎหมาย สำนักงานธนานุเคราะห์</li>
            <li>กรรมการร่างกฎหมายของกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>ชี้แจงเกี่ยวกับกฎหมายในภารกิจของกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>วิทยากรด้านนิติการกฎหมายในภารกิจของกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</li>
            <li>ผู้บรรยายพิเศษมหาวิทยาลัยธรรมศาสตร์ , มหาวิทยาลัยหัวเฉียวเฉลิมพระเกียรติ</li>
            <li>กรรมาธิการวิสามัญ กฎหมายว่าด้วยวิธีพิจารณาคดีค้ามนุษย์</li>
            <br>
        </ul>

        </tr>
        <!--End Resume-->
